[2016-06-08 11:49] timgdavies opened #1 "Set-up project mailing list"
We should have a project mailing for people who want to keep in touch with developments.

[2016-06-16 10:05] timgdavies opened #2 "Evaluate PPP data available from Paraguay"
From Georg Neuman:

We should evaluate the documents currently being published.

[2016-06-21 20:30] timgdavies opened #3 "User requirement: Who drafted the documents"
Some PPPs can be proposed by government, others can be proposed by firms.

It is very useful to know who was involved in drafting particulars.

[2016-07-05 17:56] timgdavies opened #4 "Moving away from buyer<->supplier model"
(Reflections from reading [PPP Disclosure Framework](http://www.worldbank.org/en/topic/publicprivatepartnerships/brief/a-framework-for-disclosure-in-public-private-partnership-projects))

OCDS currently is based around the idea of a **buyer** organisation and a **supplier**.

In PPPs there may be many more parties involved in a process, and different flows of finance between private and public par

[2016-07-05 17:58] timgdavies opened #5 "Capturing detailed and complex budgets"
(Reflections from reading [PPP Disclosure Framework](http://www.worldbank.org/en/topic/publicprivatepartnerships/brief/a-framework-for-disclosure-in-public-private-partnership-projects))

The current OCDS has a single value for budget. In https://github.com/open-contracting/standard/issues/222 there is a proposal to capture multi-year or multi-part budgets.

What are the use-cases for more detaile

[2016-07-05 18:00] timgdavies opened #6 "Handling confidential information"
(Reflections from reading [PPP Disclosure Framework](http://www.worldbank.org/en/topic/publicprivatepartnerships/brief/a-framework-for-disclosure-in-public-private-partnership-projects))

There may be information in a PPP which cannot be disclosed at time T, but could be disclosed at time T+1.

There is other information which will always remain confidential, but where the fact that the informatio

[2016-07-05 18:05] timgdavies opened #7 "Evaluating the quality of published documents?"
(Reflections from reading [PPP Disclosure Framework](http://www.worldbank.org/en/topic/publicprivatepartnerships/brief/a-framework-for-disclosure-in-public-private-partnership-projects))

At lot of use-cases rely upon information that is found inside documents. At the moment our validation tooling only looks for the presence of a document URL, but does not provide any further assessment of documen

[2016-07-05 18:07] timgdavies opened #8 "Allowing annotation of structured data"
(Reflections from reading [PPP Disclosure Framework](http://www.worldbank.org/en/topic/publicprivatepartnerships/brief/a-framework-for-disclosure-in-public-private-partnership-projects))

At present, many PPP disclosures rely on written reports. Where figures are presented they may be accompanied by clarifying notes.

When this is converted into structured data, there is a risk that clarifying not

[2016-07-05 18:16] timgdavies opened #9 "Multiple tenders in PQQ processes"
(Reflections from reading [PPP Disclosure Framework](http://www.worldbank.org/en/topic/publicprivatepartnerships/brief/a-framework-for-disclosure-in-public-private-partnership-projects))

Captured in https://github.com/open-contracting/standard/issues/349

[2016-07-09 15:46] timgdavies commented on #3
Suggestion to extend documents to capture name of authors, and to add requirement that documents include list of authors.

[2016-07-12 17:26] timgdavies opened #10 "Working with processes with multiple enquiry periods"
How do we handle the case when there is more than one enquiry period for a project.

[2016-07-12 17:27] timgdavies commented on #10
In the MX experience - there are:

(a) Changes to the enquiry period;

(b) Second rounds of enquiries and consultation;

[2016-07-12 17:31] timgdavies opened #11 "Documents may contain multiple languages"
For example, tender documents may be hosted as a zip file which contains different language versions - such as both English and Spanish.

[2016-07-12 21:42] timgdavies opened #12 "Access instructions for documents"
Sometimes documents cannot be accessed directly at a URL as document systems do not provide RESTFul URIs.

Other times, documents may be only accessible on request.

Proposal to add `accessDetails` to documents where this information can be provided.

[2016-07-13 17:39] timgdavies opened #13 "Indicators and performance reporting"
At the planning stage a PPP may set out **targets** to be met.

At the bid state, bidders may indicate how far they feel they can meet those targets.

At the award and contract stage, agreed targets may be established.

At the implementation stage, progress towards those targets may be reported.

[2016-07-13 17:43] timgdavies commented on #13
There are some relationships between what we need for PPP targets, and the proposed [features extension](https://github.com/open-contracting/standard/issues/223) in use in Ukraine.

We could consider an adaptation of the ```features``` array in terms of a ```metrics``` array.

[2016-07-14 22:20] timgdavies opened #14 "Modelling externally initiated PPPs"
In some jurisdictions PPPs may be initiated by companies approaching government.

We need to consider particular data modelling implications of this.

[2016-07-22 14:42] timgdavies commented on #3
During Mexico field mission there was some discussion over who should be named as the author of a document if this field was introduced.

For example, should it be the individual staff member? The responsible official? The company involved?

One suggestion was to include a ```relatedContract``` property to document elements, such that, where a document was commissioned from a supplier, the contrac

[2016-07-22 14:53] timgdavies opened #15 "Related contracts"
During the creation of a PPP there may be many related contracts for tasks including:
- Research and feasibility studies;
- Project advisors;
- Financial advisors;
- Project marketing;
- Project management;

The World Bank PPP Disclosure Framework does not include a request for these associated contracts, however, in our discussions in Mexico the point was raised a number of times that it would be

[2016-07-22 14:57] timgdavies opened #16 "Cost of bid documents"
In the case of Red Compartida (Mexico Telecoms PPP), the bid documents are available for free download, but to be eligible to participate in the tender process, bidders must officially buy a copy of the documents and submit their receipt.

Although not the case in this example, where the cost is capped, and the general trend is to make the cost only the cost of document reproduction, there are con

[2016-07-22 15:40] timgdavies opened #17 "Metrics: targets, bid features and performance indicators"
## Context

The PPP Disclosure Framework calls for publication of Performance Information, with the template using the table below to illustrate this.

![image](https://cloud.githubusercontent.com/assets/342624/17061243/81434066-5025-11e6-887b-fb78f3a69f0d.png)

In the Mexico field mission we identified that the bidding process for Red Compartida is based on:
- Bidders meeting certain criteria (th

[2016-07-22 15:43] timgdavies opened #18 "Approvals"
A PPP process may include many approval processes such as:
- Sign off by the Ministry of Finance
- Checks by the competition authority of bidder eligibility
- Confirmation of process by an auditor or social witness

The PPP Disclosure Framework asks for information on "Dates of various approvals".

Dates of approvals could be modelled with milestones, but this does not capture details of the party

[2016-08-30 17:04] dc-coder commented on #13
Just some additional thoughts on this:
The PPP framework also says that there are lists of reports, documents and other information that the private provider should maintain and submit at regular times. There will be penalties for non submissions.

So when it comes to publishing performance reports, I guess there might be extra disclosure forms/IT system/fields that need to be designed. Those migh

[2016-09-01 19:29] dc-coder opened #19 "Users of Data"
Here is a summary of the different users of PPP data as defined by the disclosure framework. I listed the users and then what they need the data for. (I've only added a few minor bullets)

I thought to create this in order to:
- help plan for the visualization.
- help with creating user profiles to inform our user experience design.
- make sure the disclosure we do meets the needs of data users.
-

[2016-09-06 14:30] dc-coder opened #20 "Capturing minutes of meeting"
The PPP framework mentions multiple times that the minutes of meeting - for example with bidders - need to be captured.
I was wondering if the "documents" can actually be multimedia. (video recording from VC etc)

This might add more transparency but I am not sure if this opens a whole pandora box of terminology and having to provide guidelines on the documents or multimedia file formats/extension

[2016-09-07 09:27] timgdavies commented on #20
The [documents](http://standard.open-contracting.org/latest/en/schema/reference/#document) building block of OCDS uses a ```format``` codelist which uses full [IANA Mimetypes list](http://www.iana.org/assignments/media-types/media-types.xhtml) which does allow documents to be multi-media items.

We would perhaps want to add entries to the ```documentType``` codelist to allow consuming applications

[2016-10-18 20:43] timgdavies opened #21 "Financing type codelist"
Just spoted https://openfigi.com/

We should explore if any linkages here with the financial instruments funding PPPs.

[2016-10-27 15:21] timgdavies opened #22 "Should sector be a simple codelist, or offer a range of classification schemes?"
Section I.1 of the PPP disclosure framework asks for a description of the sector a project is taking place in.

No codelist for sectors is specified.

The World Bank [PPP Knowledge Lab](https://pppknowledgelab.org) uses the following top-level list of sectors:
- Agribusiness
- Education
- Health
- ICT
- Municipal
- Power
- Tourism
- Transport
- Water & Sanitation

The [PPP in Infrastructure Resour

[2016-10-27 15:57] timgdavies opened #23 "Project Value"
Field I.3 of the disclosure framework asks for 'Project value' - although project value is not defined in the framework.

As a working definition, we are looking at using:

"The project value is the total amount invested into the project by both public and private parties."

The guidance will then point to the budget forecast breakdown extension which can be used to model different parties investm

[2016-10-27 16:40] dc-coder commented on #22
I think it is more useful to have the sector as codelists, because as we merge databases or as we want to compare local and national data for example, a code list makes data more usable.

This is the general World Bank Sector list.
http://www.projects.worldbank.org/sector

I can look  at other international dev. agency and compare.

This is how a bank API defines sectors - my takeaway from looking

[2016-10-27 16:52] dc-coder commented on #21
Do you wanna try to identify a codelist of "financial instruments"? I can help compile it by asking around. or are you pondering if it will be interesting in the first place?

[2016-10-27 16:59] dc-coder commented on #23
I think for project value there is:

- **Estimated project value:** the one when project is being prepared, still in pipeline. This may change multiple time.

- **Project Value:** the one on contract signature

- **Re-Negotiated Project Value:** when there are re-negotations, project value or distribution of value among parties might change

I know we can keep track of this in the different releas

[2016-10-27 17:07] timgdavies commented on #23
You are right that there are these different values, and they will be captured in different places.

I was thinking mainly about project value in the 'Basic project information' section at the moment - which falls under "Pre-procurement" information - hence assuming the estimate, which, as you say, may change a number of times.

When it comes to contract signature, we have ```contract.value```. I

[2016-10-27 17:07] timgdavies commented on #21
I'm not sure if it will be useful or not: but if you can ask around to see if there are commonly used lists that would be great.

[2016-10-27 17:09] timgdavies commented on #22
Thanks for pointing to this.

If you can look at what others use that would be great. I'm curious as to whether we could just fix on a codelist (E.g. WB Sector Codelist) here, or whether we would need to have the option for people to specify which codelist they are using etc.

[2016-10-27 17:11] dc-coder opened #24 "Disclosure timing"
One of the recurring themes in PPP Disclosure we found is that some PPP Unit or governments are willing to disclose information but only after another milestone has passed.

Those milestones could be after a certain study has been completed, an audit, after a process has started - but also sometimes it is after the contract has been signed.

Should the data model capture the timing of disclosure o

[2016-10-27 17:17] timgdavies commented on #24
This is built into the OCDS releases and records model by default - such that each release should indicate a publication date, and that would tell us when information was first made available.

So - it should be possible to compare the date information becomes available with the dates of the documents, or contract signature etc. themselves...

[2016-10-27 17:46] dc-coder commented on #22
First, here is list of Worldbank, so whoever is reading this doesn't have to follow external links.

World Bank
- Agriculture, fishing, and forestry
- Public Administration, Law, and Justice
- Information and communications
- Education
- Finance
- Health and other social services
- Energy and mining
- Transportation
- Water, sanitation and flood protection
- Industry and trade

I can think of few

[2016-10-27 17:50] dc-coder commented on #24
i was thinking more of linking it to milestones... like disclosure is happening "after financial close", "after signature of contract" , "after study xyz"

now that i am thinking of it, i think this can be done just as a visualization tool of the disclosure itself.

Wanna close the ticket?

[2016-10-27 18:01] dc-coder commented on #19
I think it is tempting to start adding non-human actors to "users of data" - like "Procurement systems", "budget systems" - "corporate registries" etc...

This can help us in thinking about modelling, because each type of system needs specific pieces of data.

Like the budget systems, usually need to know the risk allocation.
Procurement systems need to know what is being procured and how much
Cor

[2016-10-27 18:03] #24 closed

[2016-10-27 18:54] dc-coder commented on #21
Here is some feedback from Shyamala:

Debt can also be through bond issues. The bonds themselves can be of different kinds. These are of different types and ever changing and also have different names based on who we are dealing with.

Hope this is helpful a bit :)

[2016-10-27 18:57] dc-coder commented on #22
Seeing this, i think now i am of the opinion of the letting people choose the codelist... but this is just me, hope others can chip in.

[2016-11-02 11:37] duncandewhurst opened #25 "Should we introduce a new milestone type for commercial/financial close?"
The disclosure framework states that the dates of commercial and financial close should be disclosed. We propose to use milestones to model this information, however none of the milestone types proposed in the [milestones upgrade issue](https://github.com/open-contracting/standard/issues/373) seem appropriate for these dates.

Should we introduce an additional milestone type for these dates and wh

[2016-11-02 12:51] duncandewhurst commented on #4
Our [approach to organizations](https://github.com/open-contracting/standard/issues/368) proposed for the OCDS upgrade allows us to be more flexible but still retains the ```buyer``` and ```award/suppliers``` fields, the terminology for which may not be appropriate for the PPP scenario.

The disclosure framework uses the terms *public authority* and *private party* for the parties to the contract.

[2016-11-02 12:59] duncandewhurst opened #26 "Organization role codelist"
The [organizations approach](https://github.com/open-contracting/standard/issues/368) proposed for the OCDS upgrade includes the addition of an ```organization/role``` field and associated codelist.

What values should this codelist contain for the PPP scenario?

The following organization types appear in the disclosure framework:

* sponsoringAgency
* publicAuthority
* privateParty
* leadFinancie

[2016-11-03 09:07] duncandewhurst commented on #26
**preferredBidder** also appears in the disclosure framework (II.9)

We need to understand whether this should be added to the codelist, i.e. is the following a potential publication pattern:

1. ```release/tag``` = [tenderUpdate], ```organization/role``` = [bidder]
1. ```release/tag``` = [award], ```organization/role``` = [bidder, preferredBidder]
1. ```release/tag``` = [contract], ```organizatio

[2016-11-03 10:16] duncandewhurst opened #27 "Document Type codelist"
The disclosure framework includes several types of document.

The table below maps the documents included in the disclosure framework to the existing [document type codelist](http://standard.open-contracting.org/latest/en/schema/codelists/#document-type) and proposes new codes where neccessary:

Framework element | Existing document type | Proposed document type
---------------------|-------------

[2016-11-03 11:20] duncandewhurst opened #28 "Where should financier information be located?"
The [disclosure framework](http://pubdocs.worldbank.org/en/773541448296707678/Disclosure-in-PPPs-Framework.pdf) states that parties to the contract should be disclosed, including:

* I.18: Public authority: name of authority, name of representative, address, telephone, fax, e-mail
* I.19: Private party: name of company or consortium, name of representative, address, telephone, fax, e-mail
* I.20:

[2016-11-03 14:50] dc-coder commented on #25
Some other dates/milestones that may not fit the[ milestone upgrade issue ](https://github.com/open-contracting/standard/issues/373) you linked to:

- Commencement of construction or development
- Completion of construction or development
- Commissioning

And maybe "Contract expiry" can go on that list.

Some other broad dates or milestones are:
- Project proposal received
- Project proposal scree

[2016-11-03 14:54] dc-coder commented on #26
Let me know if you want me to run this codelist by some procurement/PPP specialist. I feel there might be more items in that codelist.
Are you at the time in point where you want to generate a full code list? or just thinking about specific items in a codelist and how to format them?

[2016-11-03 15:09] dc-coder commented on #27
For the following items:
- Estimated demand to be served annually
- Evaluation criteria: brief description with weightage

Do you think it will be better and more "data friendly" if they are not created as "documents" but as Data Cubes or in a matrix format (in the same way that risks and performance indicators are modeled?)

If they are documents, it will be very hard to use them as data. For exa

[2016-11-03 15:10] dc-coder commented on #27
Links to all contract documents code-list, should it also include negotiationsCriteria?)

[2016-11-03 15:13] duncandewhurst commented on #25
@dc-coder thanks for the feedback, some thoughts in-line below:

My initial thought was that these could all map to the proposed ```delivery``` milestone type code, however it's true they don't exactly fit the currently proposed description for that code.

We have a ```contractPeriod/endDate``` field in OCDS so would initially propose using that field to capture contract expiry.

Good point that w

[2016-11-03 15:17] duncandewhurst commented on #26
@dc-coder thanks, we'll certainly want to do that, but right now we're still working through modelling the framework so may have some more to add here before we're ready to invite a specialist to review the list.

[2016-11-03 15:28] dc-coder commented on #26
cool - let me know once you are at that stage... the place i am in is swarming with economists and procurement people ;p

[2016-11-03 15:49] dc-coder commented on #25
thanks for clarification ... if tweaking a description solves it, then better not add additional blocks :)
Less new stuff makes sure we can re-use previous visualizations at least :)

Here is a case scenario to consider. for different projects:
People might use different ways to express the start and the end of work. They can use "Building work started, commencement of construction, start of devel

[2016-11-03 16:02] dc-coder opened #29 "Making documents more user friendly"
Hey!

One of the challenges of disclosing documents is that they are gigantic and detailed and finding bits of information is hard.

I was wondering if you decided to model any "bookmarks" inside the documents... for example, if i want a section "risks" - it is bookmarked at "page 41", if i want something on  performance, it is on "page 10, 61 and 89" - if i want "approvals and committee members i

[2016-11-03 16:40] duncandewhurst commented on #27
@dc-coder you can find the working draft guidance for these areas [here](https://github.com/open-contracting/standard/blob/ppp-extension/standard/docs/en/implementation/ppp_framework.md) this is still very much a work in progress but should provide some additional context to the issues we're raising.

In general we're trying to prefer reusing existing OCDS building blocks and fields over adding ne

[2016-11-03 17:12] dc-coder commented on #27
You are right, it is better to have both options for disclosure of these things - as docs and as structured data... the implementation team can combine or choose one or the other based on the context.

As for

**Demand**
Yes, the proposed model for demand looks sufficient.

[code]

[2016-11-04 12:39] duncandewhurst opened #30 "Equity transfer caps"
The [ppp disclosure framework](http://pubdocs.worldbank.org/en/773541448296707678/Disclosure-in-PPPs-Framework.pdf) includes a point for **equity transfer caps** and states that:

Looking at the [Eurpoean Services Strategy Unit's PPP Equity Database](http://www.european-services-strategy.org.uk/ppp-database/ppp-equity-database/) there is clearly analysis being done on equity transfers, so it seems

[2016-11-04 12:51] duncandewhurst opened #31 "Risk allocations"
The [ppp disclosure framework](http://pubdocs.worldbank.org/en/773541448296707678/Disclosure-in-PPPs-Framework.pdf) includes a table for risk allocation (page 50) with a listing of risk types.

We should model this as structured data with an associated codelist of risk types.

The draft modelling shows two example risks for a toll road ppp:

**Draft modelling:**

[code]

**Draft codelist**

Risk(s

[2016-11-04 13:06] duncandewhurst commented on #29
This is exactly something that is being considered since it came up in our initial research.

One challenge we need to be aware of is that there can often be a difference between the page number of the PDF (for example) and the page number of the document, so we need to make sure that the documentation contains appropriate guidance for both publishers and users in this respect.

It would be intere

[2016-11-04 13:08] duncandewhurst commented on #25
@dc-coder this is a really good point

I think it would be better to introduce a secondary codelist with detailed ppp specific codes, perhaps ```milestone/tag```, and keep ```milestone/type``` high level, for consistency with core OCDS.

[2016-11-07 16:26] dc-coder commented on #28
I got the following feedback on this:

There's never a financing agreement at the time of bidding or award. It **always** comes after signing of the agreement. That is what is called financial close. Award is not the right place.

[2016-11-07 16:38] dc-coder commented on #29
Totally agree... i found this quiet annoying a few times...

In PPP case, some pages from contracts might be omitted or redacted... so this is likely to come up in this type of documents.

I think the data model needs to be true to the real data/real life.... not scanned documents (they might change over time or the software used to read them)

So my suggestion would be to maybe model the data as

[2016-11-07 16:51] dc-coder commented on #31
From first look - i think the risk allocation need to have a money value attached to them.

The budget people usually need to know what money is being allocated to risks - so they can account for them in their budgets. They usually use this data to produce high reports about how much risk the govt. is taking and to make some decisions in budgets etc.

The other thing is, don't we need to model ris

[2016-11-09 12:10] timgdavies commented on #29
We're looking at at an approach that combines two approaches:

* (1) Using [schema.org's pageStart](https://schema.org/pageStart) and [pageEnd](https://schema.org/pageEnd) properties to extend the document block with information that points to the **printed page number** where the information can be found

* (2) Recommending that publishers use the [#page=n](https://helpx.adobe.com/acrobat/kb/link

[2016-11-09 12:37] duncandewhurst commented on #27
Framework element **I.8: Project additionality** may also be provided as a document

[2016-11-09 12:38] timgdavies opened #32 "Project additionality"
The framework asks for ‘Project additionality’, but does not include any definition of additionality.

Based on the literature, and additionality sections in existing PPP documentation, we understand this to be a narrative description of the benefits the project brings.

It would be useful to provide a more detailed definition of whether this should be:

* The additionality of the project itself,

[2016-11-09 12:38] timgdavies commented on #32
Related to #27

[2016-11-09 14:09] timgdavies commented on #10
We're looking at handling this by:

* Using the existing OCDS field for ```enquiryPeriod ``` to reflect the **next**, **current**, **most recent** period of enquiry.

* Capture any details of future planned periods of enquiry as milestones in ```tender```.

Where red flag or other analysis needs to rely upon looking at the number, and duration, of periods of enquiry, this will need either use of t

[2016-11-09 15:05] timgdavies commented on #31
We've been looking at the [Public-Private Partnerships Fiscal Risk Assessment Model](http://www.worldbank.org/en/topic/publicprivatepartnerships/brief/ppp-tools#T2), and in particular the 'IN_Detailed Risk Assessment' tab.

This includes structured information on risk, but not detailed financials.

It categorises risk by:

* Allocation (mostly government, shared, mostly private)
* Likelihood (low,

[2016-11-09 15:07] timgdavies commented on #31
The PFRAM uses the following table of risks:

![image](https://cloud.githubusercontent.com/assets/342624/20142823/48a1c060-a68e-11e6-8954-19ebeacb5b97.png)

[2016-11-09 15:40] timgdavies opened #33 "Share Capital"
We're working on modelling financial components of the projects - and looking at how 'Share Capital' should be represented.

Should this be reported as an absolute value, or a percentage of the total project value?

We're essentially looking at whether it could be represented alongside:

* Discount Rate
* Risk Premium
* Equity Debt Ratio

which we believe can all be represented as percentages, or

[2016-11-09 17:32] timgdavies opened #34 "Value dates"
A PPP project may last many years.

It will be important to know in Year 5 (for example) whether values entered in Year 1 are based on current price in Year 1, or have been adjusted in some way.

We will need to include clear guidance and/or meta-data fields to accommodate this.

[2016-11-10 11:18] timgdavies commented on #22
See https://github.com/open-contracting/standard/issues/399 where COFOG has been suggested as a good basic codelist - and which I think would cross-walk to most of the classifications above.

[2016-11-11 15:28] duncandewhurst opened #35 "Shareholder voting rights codelist"
The [disclosure framework](http://pubdocs.worldbank.org/publicdoc/2015/11/773541448296707678/Disclosure-in-PPPs-Framework.pdf) includes the following point:

* V.3. Shareholders with proportion held and voting rights

The following draft codelist is proposed for voting rights:

code | definition
-----|-----------
ordinary | The shareholder is entitled to a single vote per share in all circumstance

[2016-11-14 14:59] dc-coder commented on #34
yeah... i guess this is true for project values and for the currency exchange rates.

[2016-11-14 21:31] dc-coder commented on #32
Looking at the IFC disclosure website on[ this link](http://www.ifc.org/wps/wcm/connect/Topics_Ext_Content/IFC_External_Corporate_site/Sustainability+and+Disclosure/Disclosure+Portal):

If you check the "Development Result" tab, there is a section there for project additionality... i am sharing  some screenshots from different projects.

![additionality1](https://cloud.githubusercontent.com/assets

[2016-11-23 19:07] timgdavies commented on #27
I've worked on the metrics extension for use to provide forecasts of annual demand.

This is now in https://github.com/open-contracting/ocds_metrics_extension and will be in the next draft of the docs.

[2016-11-29 16:26] dc-coder commented on #27
Looks good :D

I am wondering if the metrics can be used to measure things that should not happen as an indicator of a good performance. for example, in communication or electricity, the maximum number of internet or electricity outages should be a max of 5 hours.
Is there a flag that needs to be added for this in the metrics extension?

Also, could there be a need for the metrics to include geolo

[2016-12-02 13:05] timgdavies opened #36 "Modelling qualification phase"
We have been reviewing the current proposal which asks for the qualification phase to be modelled using a ```relatedProcess``` with it's own tender and award section.

This introduces complexity as it means that **the PPP framework disclosures are split across two contracting processes**.

It is then not clear which process key documentation should be attached to.

We are considering remodelling t

[2016-12-02 13:07] timgdavies commented on #36
If we go this route, we need to check our terminology around terms such as 'qualification' and 'shortlist' to make sure we don't exclude particular methods.

We also need to identify how this approach would apply to framework contracts in main OCDS. Would this become an optional way of doing frameworks also?

[2016-12-14 14:04] duncandewhurst commented on #23
The [PPP certification glossary](https://ppp-certification.com/ppp-certification-guide/glossary) gives the following definition for contract value:

[2016-12-14 15:47] duncandewhurst opened #37 "Milestone code and milestone type codelists"
The [milestones extension](https://github.com/open-contracting/ocds-milestones-update) introduces two new codelists:

**Milestone type**
To provide a high level classification of the type of milestone being provided or reported on, e.g. pre-procurement, delivery etc.

**Milestone code**
To further classify particular milestone events that may be important for analysis, e.g. commercial close, comme

[2016-12-14 15:54] duncandewhurst commented on #25
Continued in #37

[2016-12-14 15:54] #25 closed

[2016-12-14 15:55] duncandewhurst commented on #10
Enquiry period start and end codes added to milestone code codelist (see #37)

[2016-12-14 15:56] duncandewhurst commented on #18
The current proposal is to model these as milestones, see updates to related codelists in #37

[2016-12-14 16:49] duncandewhurst commented on #26
The proposed codes, titles and descriptions for **organizationRole** codelist are documented in this [Google Sheet](https://docs.google.com/spreadsheets/d/1qipg79qQReqWgKzn7mRhsriA6V8HCtKkg9GaZO32EUI/edit#gid=1160323424) for consultation.

We are inviting feedback on

- Whether the proposed codes are sufficient to describe the types of organizations involved in the PPP contracting process.
- Wheth

[2016-12-14 20:48] timgdavies commented on #28
We are including the finance table within contract.

[2016-12-14 20:48] #28 closed

[2016-12-14 20:49] timgdavies commented on #29
The [documentation extension](https://github.com/open-contracting/ocds_documentation_extension) covers the points discussed here.

[2016-12-14 20:49] #29 closed

[2016-12-14 20:50] timgdavies commented on #21
There is a [draft financeType codelist here](https://docs.google.com/spreadsheets/d/1qipg79qQReqWgKzn7mRhsriA6V8HCtKkg9GaZO32EUI/edit#gid=1594285097) based on the notes above.

[2016-12-14 20:56] timgdavies commented on #27
Framework element VI.1 requires:

* contractGuarantees - which we already have

and

* a code for 'fiscal commitments and contingent liabilities disclosure reports' which we need to come up with.

[2016-12-15 10:07] duncandewhurst commented on #35
The proposed codes, titles and descriptions for the **votingRights** codelist are documented in this [Google Sheet](https://docs.google.com/spreadsheets/d/1qipg79qQReqWgKzn7mRhsriA6V8HCtKkg9GaZO32EUI/edit#gid=972206135) for consultation.

We are seeking feedback on the questions noted in the original issue.

[2016-12-15 10:31] duncandewhurst commented on #31
There is a [draft extension](https://github.com/open-contracting/ocds-riskAllocation-extension) based on this approach (documentation outstanding).

The proposed codelists (riskCategory, riskAllocation, riskLikelihood, riskImpact) have been added to this [Google Sheet](https://docs.google.com/spreadsheets/d/1qipg79qQReqWgKzn7mRhsriA6V8HCtKkg9GaZO32EUI/edit#gid=1735353039) for consultation.

[2016-12-15 10:39] duncandewhurst commented on #30
There is a [draft extension](https://github.com/open-contracting/ocds-equityTransferCaps-extension/blob/master/release-schema.json) based on this modelling (documentation outstanding).

Answering my own question - this could still be represented by referencing a milestone with the fixed end date.

[2016-12-15 14:53] timgdavies commented on #27
I've put together a full spreadsheet of [documentType](https://docs.google.com/spreadsheets/d/1qipg79qQReqWgKzn7mRhsriA6V8HCtKkg9GaZO32EUI/edit#gid=1103312832) codes found in the framework [here](https://docs.google.com/spreadsheets/d/1qipg79qQReqWgKzn7mRhsriA6V8HCtKkg9GaZO32EUI/edit#gid=1103312832).

I've tried to indicate which section I think these documents would be used in, and to highlight w

[2016-12-15 14:58] timgdavies opened #38 "Does discount rate require a period"
At the moment we model reporting of the discount rate as a single value.

However [this article](https://data.gov.uk/sib_knowledge_box/discount-rates-and-net-present-value) suggests a discount rate might change over the lifetime of a project.

Does this suggest we should consider adding period to the financialModel object, so that values for different periods can be given?

[2016-12-15 15:43] timgdavies commented on #17
The [metrics extension can be found here](https://github.com/open-contracting/ocds_metrics_extension).

[2016-12-16 15:22] timgdavies commented on #23
Note - value changes over time.

- Need value at financial close
- Need value at implementation (e.g. for cost over-runs)

[2017-01-16 10:18] duncandewhurst opened #39 "Spreadsheet input template"
We expect to see greater use of manual input for the creation of OCDS-PPP data than we see in 'core' OCDS due to PPP contracting processes being lower in volume and higher in complexity than standard procurement processes.

Because the flattened version of the OCDS-PPP schema is large and complex, we've started work on developing an intuitive spreadsheet input template based on the following relea

[2017-01-19 12:26] duncandewhurst commented on #36
There is a draft extension [here](https://github.com/open-contracting/ocds_qualification_extension) which adds a qualification section between planning and tender.

@timgdavies currently the extension re-uses the existing tender object, however I think we'll need to create a qualification object to:

* Update field descriptions within the tender object so they make sense in the context of a pre-qu

[2017-01-20 15:07] duncandewhurst commented on #36
The [draft qualification extension](https://github.com/open-contracting/ocds_qualification_extension) has been updated.

This update introduces a new ```preQualification``` object, based on the existing ```tender``` object with updated field titles and descriptions. The following fields from the ```tender``` object have been removed from the ```preQualification``` object:

* preQualification/items

[2017-03-02 11:41] duncandewhurst opened #40 "indicatorValue type"
The description of the ```indicatorValue``` property states this should be a numeric value, however the schema patch defines the type as ```number```, ```string``` or ```null```:

[code]

Should we update the type to be ```number``` or ```null``` or could non-numeric values be provided against any of the indicators?

[2017-03-02 12:33] timgdavies commented on #40
My initial reaction is to say we should leave possibility of non-numerical indicators and update the description accordingly.

[2017-03-02 13:09] duncandewhurst commented on #40
Thanks Tim - I've updated the description in [this commit](https://github.com/open-contracting/public-private-partnerships/commit/e55e29f799f4cceeda3411fca01e53c8b514af79)

[2017-03-02 13:09] #40 closed

[2017-04-20 12:35] duncandewhurst opened #43 "Removing deprecated fields from the PPP schema"
Currently the PPP schema includes deprecated fields from the V1.1 upgrade (see example below).

Is there an easy way to remove these since they're not relevant for users implementing the PPP schema?

![image](https://cloud.githubusercontent.com/assets/19265814/25231054/2b7d8842-25ce-11e7-9c02-076d6d105912.png)

[2017-05-01 11:19] timgdavies commented on #43
We should set these to null in a schema patch, or have a quick script that strips them out before we push the docs up.

[2017-06-12 14:56] timgdavies opened #53 "Update links to OCDS Show to work in multi-lingual site"
We have links at http://ocds-for-ppps.readthedocs.io/en/latest/example/ and http://ocds-for-ppps.readthedocs.io/en/latest/overview/ that were previously opening OCDS Show in a pop-up window - but now we have gone to multi-lingual ReadTheDocs, these links don't work.

We need to update them, either with relative paths to work with versions/languages, or with some replacement tokens?

[2017-06-12 14:56] timgdavies commented on #53
@Bjwebb Is the only way to make these relative? Or can we add a token that gets replaced with base path?

[2017-06-13 13:31] Bjwebb commented on #53
I think relative links is going to be the easiest way to do this https://github.com/open-contracting/public-private-partnerships/commit/a7993f17ade65a76c9583f5547ec3022ca06b9410

[2017-06-16 14:23] #1 closed

[2017-06-16 14:23] #13 closed

[2017-06-16 14:24] #2 closed

[2017-06-16 14:24] #3 closed

[2017-06-16 14:24] #4 closed

[2017-06-16 14:24] #5 closed

[2017-06-16 14:24] #9 closed

[2017-06-16 14:24] #8 closed

[2017-06-16 14:24] timgdavies commented on #8
We regularly include a notes column on structured data.

[2017-06-16 14:25] #12 closed

[2017-06-16 14:25] #15 closed

[2017-06-16 14:25] #17 closed

[2017-06-16 14:25] #21 closed

[2017-06-16 14:25] #22 closed

[2017-06-16 14:25] #23 closed

[2017-06-16 14:25] #26 closed

[2017-06-16 14:25] #27 closed

[2017-06-16 14:25] #30 closed

[2017-06-16 14:25] #31 closed

[2017-06-16 14:25] #32 closed

[2017-06-16 14:25] #33 closed

[2017-06-16 14:25] #34 closed

[2017-06-16 14:25] #35 closed

[2017-06-16 14:25] #36 closed

[2017-06-16 14:25] #37 closed

[2017-06-16 14:25] #43 closed

[2017-06-16 14:25] #53 closed

[2017-06-16 14:25] #39 closed

[2017-06-16 14:25] #38 closed

[2017-06-16 14:25] #18 closed

[2017-06-16 14:26] #11 closed

[2017-06-16 14:26] #10 closed

[2017-06-16 14:26] #14 closed

[2017-06-16 14:26] #16 closed

[2017-06-16 14:26] #20 closed

[2017-07-07 08:10] duncandewhurst opened #61 "Broken link to JSON schema"
The link to the full PPP schema on the [schema reference page](http://ocds-for-ppps.readthedocs.io/en/latest/reference/schema/) is broken.

We need to fix the build process so that the schema is copied from /schema to /docs/_static

[2017-07-07 10:14] Bjwebb commented on #61
I think the build process is fine, it copies the schema to https://ocds-for-ppps.readthedocs.io/en/latest/_static/ppp-release-schema.json . The link on that page wants updating to be relative: `../../_static/ppp-release-schema.json`.

[2017-07-08 12:07] timgdavies opened #64 "Fixing null values in PPP extension and community extensions"
In working on [OCDS #400](https://github.com/open-contracting/standard/issues/400) I found that we had a community extension which was setting properties from OCDS core to null.

Only **profiles** rather than **extensions** should be allowed to do this (i.e. we don't want a community extension nulling things out from the core schema). So, I moved these ```null```s to remove fields from the extensi

[2017-07-08 12:07] timgdavies commented on #61
This is fixed on master.

[2017-07-08 12:07] #61 closed

[2017-07-11 16:10] duncandewhurst opened #66 "Merging extension codelists"
OCDS for PPPs needs to pull together codelists from several locations:

1. Codelists from individual extension repos
2. Codelists in the public-private-partnerships repo itself (e.g. metricID, milestoneCode)
3. Codelists from OCDS core

Currently the ```apply-extensions.py``` script handles case 1. Case 2 is handled by manually dropping these codelists into the ```codelists``` directory. Case 3 is

[2017-07-11 16:28] duncandewhurst opened #67 "Docs build errors - unknown options, missing files"
@Bjwebb I am getting a few errors in the docs build process for OCDS for PPPs, would you mind taking a quick look and giving me some pointers?

I think some of these might be down to Sphinx directive options which are supported in the core docs build but not in the ppp docs build, e.g.

[code]

There are also some errors due to missing files on the individual extension pages, I think this might be

[2017-07-13 14:07] Bjwebb commented on #67
Yes. I've split these out into a new repo, so we can keep track of the latest code more easily - https://github.com/open-contracting/ocds_sphinx_directives - and done the necessary changes to pull these in.

Yes, this is to do with codelist location. The trickiest issue here is probably that the codelist location is different for the main docs and the PPP docs, which is a problem when the file is

[2017-07-18 19:58] kindly commented on #66
@duncandewhurst
**1.**
For this +filename.csv ,-filename.csv should be used if adding or removing items from a codelist.
**2.**
I think there needs to be 3 directories here:
- One that lives in extension docs directory like in the core standard this contains the raw codelists from the extension itself (i.e with the + and -)
- One that belongs to the ppp extension itself in the codelists directory.

[2017-07-19 08:54] Bjwebb opened #70 "Bugs in translations"
- [x] Make sure all text is translatable (e.g. note boxes aren't currently) - relevant OCDS standard pull requests https://github.com/open-contracting/standard/pull/487 https://github.com/open-contracting/standard/pull/492
- [x] Search for, and fix broken markdown syntax in the translations

[2017-07-19 09:24] Bjwebb commented on #70
Part of this is updating our recommonmark dependency, which means a change in how relative paths in the docs work. I can update this, but it would be good to get this pull request - https://github.com/open-contracting/public-private-partnerships/pull/65/files, which includes several paths - merged first.

[2017-07-19 13:19] duncandewhurst commented on #66
thanks @kindly

I've updated the 66-codelist-refactor branch so it only has the codelists that belong to the ppp extension itself and to move the ppp extension to the end of the merging order

There are a couple of outstanding issues to resolve before building the docs:

* outstanding [issue](https://github.com/open-contracting/standard/issues/471
) with milestoneType codelist in OCDS core
* outst

[2017-07-20 12:53] duncandewhurst commented on #66
The issue with the milestoneType codelist has been resolved in https://github.com/open-contracting/standard/compare/471-milestone-type

I have updated the 66-codelist-refactor branch to reflect that

[2017-07-26 18:31] jpmckinney opened #73 "What's the workflow for ensuring base-release-schema.json is in sync?"

[2017-07-26 18:42] timgdavies commented on #73
I don't think there is a set one right now - other than a manual process of fetching updated schema.

There does need to be manual checking with anything other than bug-fix releases.

[2017-07-26 18:59] jpmckinney opened #74 "Document how dependent extensions are pulled into this repo"
I realize some typos I had corrected locally would likely be corrected once the dependent extensions are pulled in. Where is that workflow documented?

[2017-07-26 19:01] jpmckinney commented on #73
Where is the manual process documented? I don't know what script to use in the extensions.

[2017-07-26 19:12] jpmckinney opened #75 "Possible typo in eval_rst"
In framework.md, there's:

[code]

However, `additionalClassification` occurs nowhere. There is only the plural form `additionalClassifications`.

[2017-07-26 19:16] timgdavies commented on #75
Hoping @duncandewhurst can look at this - as it might need fixing in source spreadsheet for the mapping also.

[2017-07-26 19:32] jpmckinney commented on #74
Noting some harder to detect typos here:

* `contractSchedules` should be `contractSchedule`

[2017-07-27 01:42] jpmckinney commented on #73
Would an update to this extension be scheduled for the 1.1.1 release?

[2017-08-01 10:48] duncandewhurst commented on #75
Fixed in https://github.com/open-contracting/public-private-partnerships/commit/02e07c613432b71da37002bb5a98e168b8d2326b and in source spreadsheet

[2017-08-01 10:48] #75 closed

[2017-08-01 10:58] duncandewhurst commented on #74
@kindly would you be able to look at updating [https://github.com/open-contracting/public-private-partnerships/blob/master/README-Docs.md](https://github.com/open-contracting/public-private-partnerships/blob/master/README-Docs.md) to explain this?

[2017-08-04 13:25] #70 closed

[2017-08-07 18:45] timgdavies opened #79 "Updating theme"
Following discussion with Georg and James - I've updated the theme branch with the below color scheme.

![image](https://user-images.githubusercontent.com/342624/29040873-9bbc8d76-7ba8-11e7-869d-21a50ab05a35.png)

To finalise theme updates we need to add the [World Bank logo](http://www.worldbank.org/content/dam/wbr/logo/logo-wb-header-en.svg) under 'Developed by' so that this read:

Developed By:

[2017-08-08 13:27] Bjwebb opened #80 "Contradictory license info"
https://github.com/open-contracting/public-private-partnerships/blob/master/LICENSE.md says CC-BY
https://github.com/open-contracting/public-private-partnerships/blob/master/LICENSE is a copy of the Apache license

[2017-08-08 14:07] jpmckinney commented on #80
The Apache license was in the initial commit, so I expect the intention is to have CC-BY, but Apache survived by accident.

[2017-08-08 14:35] LindseyAM commented on #80
We had discussed that ppp extension should have the same license as OCDS

Sent from my iPhone

[2017-08-09 13:31] Bjwebb commented on #79
Here's the theme with the world bank logo in it http://standard.open-contracting.org/profiles/ppp/theme/en/

[2017-08-09 13:52] dc-coder opened #83 "add a tip about viewing json in browser"
On this page, there is a link to the json file
http://standard.open-contracting.org/profiles/ppp/theme/en/example/#explore-the-example

I think it would be useful if you add a tip to the text telling people to install a json viewer in their web browser. Features like ability to collapse blocks of data and color coding might make reading the json more user friendly and less intimidating for non-tec

[2017-08-09 13:54] timgdavies commented on #83
A pull requests to add that text would be really welcome.

Otherwise we can look at it when next doing an iteration of the docs.

(Note to self: we'll have to add a Spanish translation for such a tip as well)

[2017-08-10 09:45] duncandewhurst commented on #80
Addressed in https://github.com/open-contracting/public-private-partnerships/pull/81

[2017-08-10 09:45] #80 closed

[2017-08-10 13:49] jpmckinney commented on #83
Seems closed by #84

[2017-08-10 13:49] #83 closed

[2017-08-11 14:58] #79 closed

[2017-08-16 01:32] jpmckinney opened #86 "Delete README-Extensions.md"
Seems obsolete (if not, I'm confused about what it's saying).

[2017-08-16 04:55] dc-coder opened #87 "Typekit: the domain isn't in the list of published domains"
While visiting the documentation on http://ocds-for-ppps.readthedocs.io/en/latest/ , I get the following:

![screen shot 2017-08-16 at 7 53 08 am](https://user-images.githubusercontent.com/521705/29347850-369043dc-8258-11e7-9cf9-c2cb9008c350.png)

Typekit: the domain "ocds-for-ppps.readthedocs.io" isn't in the list of published domains for kit "xpw3jps".

this is probably some settings in typekit

[2017-08-16 05:02] jpmckinney commented on #87
I believe the correct URL is http://standard.open-contracting.org/profiles/ppp/latest/en/

We should perhaps create a redirect or take down that other site.

[2017-08-16 05:04] jpmckinney opened #88 "Incorrect link to latest version when viewing older version"
http://standard.open-contracting.org/profiles/ppp/theme/en/ has an alert linking to:

http://standard.open-contracting.org/latest/en/

But it should link to:

http://standard.open-contracting.org/profiles/ppp/latest/en/

[2017-08-16 05:06] jpmckinney commented on #87
Related: https://github.com/open-contracting/standard-development-handbook/issues/8

[2017-08-16 05:41] dc-coder commented on #87
maybe you can update the url from the readme as well. Cuz honestly this is where I click.

https://github.com/open-contracting/public-private-partnerships/blob/master/README.md

[2017-08-16 05:57] dc-coder commented on #88
The default readme of this repo links to http://ocds-for-ppps.readthedocs.io/en/latest/
But it should link to:
http://standard.open-contracting.org/profiles/ppp/latest/en/

[2017-08-16 05:59] dc-coder opened #89 "broken link to milestones in I.10. Project approval dates"
On this page
http://standard.open-contracting.org/profiles/ppp/latest/en/framework/#i-10-project-approval-dates

milestones extension points to http://standard.open-contracting.org/profiles/ppp/latest/extensions/milestones which is a broken link, not even a 404

[2017-08-16 06:43] dc-coder opened #90 "In PPP documentation about contract award, reference contract"
I was reviewing an assessment comparing data from a system to the OCDS-PPP extension. The field "Contract agreement and conditions" was marked as missing. I thought maybe the documentation is not very clear if you are only reading the PPP documentation. So here is a suggestion:

In the text on this link
http://standard.open-contracting.org/profiles/ppp/latest/en/framework/?highlight=contract#ii-8-

[2017-08-16 06:49] dc-coder opened #91 "Add link to shareholder extension"
The text on this link references the shareholder extension
http://standard.open-contracting.org/profiles/ppp/latest/en/extensions/shareholders/

Maybe include a link?

[2017-08-16 06:54] dc-coder opened #92 "typo - contract docuemnts"
http://standard.open-contracting.org/profiles/ppp/latest/en/framework/#ix-1-1-contract-docuemnts
![screen shot 2017-08-16 at 9 53 11 am](https://user-images.githubusercontent.com/521705/29350836-c93cc47a-8268-11e7-8fd7-afb5d523306e.png)
![screen shot 2017-08-16 at 9 53 18 am](https://user-images.githubusercontent.com/521705/29350835-c93be712-8268-11e7-87fc-420291924676.png)

[2017-08-16 12:47] dc-coder opened #93 "Renegotiations approvals"
For the different renegotiations, is there a way to model the data on "approval" of those renegotiations ?
Like who participated in the renegotiations and maybe who approved from the different sides? (especially government)

This might re-use the parties building block and some dates.... but I am not sure I see such thing under http://standard.open-contracting.org/profiles/ppp/latest/en/framework/

[2017-08-16 12:52] dc-coder opened #94 "documentType codelist - new suggestions"
The document type is an open code list...  there is "environmentalImpact" as default.

Would you consider adding as a default:
- Land and settlement impact
- Resettlement and compensation plan

reference: http://standard.open-contracting.org/profiles/ppp/latest/en/reference/codelists/

[2017-08-16 13:37] jpmckinney commented on #92
Duplicate #78

[2017-08-16 13:37] #92 closed

[2017-08-23 15:06] duncandewhurst commented on #74
Documented in https://github.com/open-contracting/standard-development-handbook/commit/c74d1f2daf69a69c677d267ca7fe05bbc9680a33

[2017-08-23 15:06] #74 closed

[2017-08-23 15:07] duncandewhurst commented on #73
I've updated the base schema and codelists to v1.1.1 in https://github.com/open-contracting/public-private-partnerships/pull/96 and documented the process for updating these in https://github.com/open-contracting/standard-development-handbook/commit/c74d1f2daf69a69c677d267ca7fe05bbc9680a33

[2017-08-23 15:07] #73 closed

[2017-08-23 15:08] #67 closed

[2017-08-23 15:09] #66 closed

[2017-08-23 15:16] duncandewhurst commented on #90
@dc-coder my understanding was that the contract document would come under [I.13 Contract documents](http://standard.open-contracting.org/profiles/ppp/latest/en/framework/?highlight=contract#i-13-contract-documents) in the framework. Perhaps that section was missed in the comparison?

Or there may be a difference of terminology between "Contract agreement and conditions" and "Contract documents"?

[2017-08-23 15:34] duncandewhurst commented on #89
@Bjwebb would you be able to take a look at this please?

The links are working OK in my local build, but broken (missing the /en/) in the travis build

[2017-08-23 15:57] duncandewhurst commented on #93
Approval of renegotiations isn't included in the framework so this would be an extension to the PPP profile.

We are using amendments to represent renegotiations in the PPP profile, so this raises a wider question of how to model approval of amendments.

As such I would suggest opening an issue on the main standard [issue tracker](https://github.com/open-contracting/standard/issues) and proposing

[2017-08-23 16:01] duncandewhurst commented on #94
These won't make it into the documentType codelist for the initial launch, however they can be added in the next iteration of the PPP profile.

In the meantime you can still use the codes as local extensions to the open codelist.

Could you work with colleagues to provide suitable descriptive text for the proposed codes?

[2017-08-23 16:28] Bjwebb commented on #89
I think I've fixed this in https://github.com/open-contracting/public-private-partnerships/pull/97 by replacing `../../` with `../`. This may have been working locally, because these are equivalent if you're only one step up from the domain e.g. http://localhost:8000/framework/../../ == http://localhost:8000/framework/../ == http://localhost:8000/.

[2017-08-24 09:16] duncandewhurst opened #99 "Removing deprecated codes from the PPP profile"
The [`awardCriteria`](http://standard.open-contracting.org/profiles/ppp/latest/en/reference/codelists/#awardcriteria) codelist includes codes that were deprecated in OCDS 1.1.

Because we will only be displaying the `code`, `title`, `description` and `extension` in the codelist reference section of the docs (i.e. not whether codes have been deprecated) and per our approach to fields which were dep

[2017-08-24 10:03] duncandewhurst commented on #89
thanks @Bjwebb

[2017-08-24 10:03] #89 closed

[2017-08-24 10:13] duncandewhurst opened #100 "Special handling for documentType codelist"
Currently apply-extension.py handes [`documentType`](http://standard.open-contracting.org/profiles/ppp/latest/en/reference/codelists/#documenttype) in the same way as other codelists, i.e. taking the codelist from OCDS core and +/- ing codes from `public-private-partnerships` and the other extension repositories.

However, because `documentType` in the PPP extension is a controlled list of all the

[2017-08-24 10:16] duncandewhurst commented on #100
also noting that there is currently an issue with the compiled version of `documentType` where the titles and descriptions are missing for codes from `public-private-partnerships`

[2017-08-29 17:40] jpmckinney opened #105 "Reporting issues on OCDS extensions"
Remove this line in `governance.md`:

    Issues related to the individual extensions that make up the implementation profile can be raised on their respective GitHub projects.

How to report issues is described in each extension's readme, but GitHub Issues is not necessarily enabled on each GitHub repository.

[2017-08-31 14:29] #86 closed

[2017-09-06 09:23] duncandewhurst commented on #100
Resolved in the above commits

[2017-09-06 09:23] #100 closed

[2017-09-06 09:23] duncandewhurst commented on #99
Resolved in the above commit

[2017-09-06 09:23] #99 closed

[2017-09-06 09:26] duncandewhurst commented on #88
@Bjwebb would you be able to take a look at the issue with the alert please?

https://github.com/open-contracting/public-private-partnerships/commit/703abbf32c1b6ae9b06764a80de47b6de9c8bf9b resolves the issue with the link in the readme

[2017-09-06 09:27] duncandewhurst commented on #87
Closing as the readthedocs url now redirects to the correct URL and the link in the readme has been updated

[2017-09-06 09:27] #87 closed

[2017-09-06 09:39] duncandewhurst commented on #105
Noting that:

* the updates to the extension readmes haven't yet been merged.
* we will need to create new pinned versions of the extension repos to pull those changes in once they are merged
* changing this text would require updates to translations

I propose we leave this for now - on the basis that users who go to the individual extension repository to report an issue will see the updated read

[2017-09-06 14:52] jpmckinney commented on #105
Sounds good re: this issue. For the PRs, I can merge them all - I'm just waiting for a go-ahead: https://github.com/open-contracting/standard-development-handbook/issues/23#issuecomment-325745879

[2017-09-11 16:05] Bjwebb commented on #88
The alert is on an old branch (`theme`): http://standard.open-contracting.org/profiles/ppp/theme/en/
If you look at the latest master it's correct: http://standard.open-contracting.org/profiles/ppp/master/en/
Options:
* Leave the old branch alone, it's old and therefore allowed to be wrong
* Retrigger a build on https://travis-ci.org/open-contracting/public-private-partnerships/builds/267898225 (w

[2017-09-12 01:48] jpmckinney commented on #88
I'll take option 1 (leave things alone) :)

[2017-09-12 01:48] #88 closed

[2017-09-13 16:11] timgdavies commented on #91
Moved to extensions issue tracker: https://github.com/open-contracting/ocds-extensions/issues/27

[2017-09-13 16:11] #91 closed

[2017-09-29 00:57] jpmckinney opened #108 "TODOs from apply-extensions.py"
* [ ] Replace requests JSON get with ordered dictionary
* [ ] Get process to make it's own backup and switch this back in at the end

[2017-09-29 14:31] jpmckinney commented on #93
Moved to https://github.com/open-contracting/standard/issues/585

[2017-09-29 14:31] #93 closed

[2017-09-29 14:37] jpmckinney commented on #90
We can perhaps add a sentence immediately under 'II.8. Contract award' along the lines of:

"If you are looking to describe the contract agreement and conditions, see I.13 Contract documents."

[2017-09-29 14:42] jpmckinney commented on #19
@dc-coder What is the intention of this issue?

[2017-09-29 14:45] jpmckinney commented on #7
Re-opening on standard repo as it is of general interest.

https://github.com/open-contracting/standard/issues/586

[2017-09-29 14:45] #7 closed

[2017-10-04 21:50] jpmckinney opened #111 "Document or delete update.sh"

[2017-10-18 16:45] #111 closed

[2017-12-31 23:38] jpmckinney commented on #6
Closing as one year without input.

[2017-12-31 23:38] #6 closed

[2017-12-31 23:39] jpmckinney commented on #105
This is sufficient, so closing.

[2017-12-31 23:39] #105 closed

[2017-12-31 23:41] jpmckinney commented on #94
Merging with https://github.com/open-contracting/standard/issues/643

[2017-12-31 23:41] #94 closed

[2017-12-31 23:42] jpmckinney commented on #90
It's not clear that this clarification is needed, so closing.

[2017-12-31 23:42] #90 closed

[2017-12-31 23:44] jpmckinney commented on #108
Not clear what these mean, and not clearly needed, so closing.

[2017-12-31 23:44] #108 closed

[2017-12-31 23:45] jpmckinney commented on #19
Not clear of intention of issue, so closing.

[2017-12-31 23:45] #19 closed

[2018-03-22 20:21] jpmckinney opened #126 "documentType.csv: financeArrangements and guaranteeReports have no Description"

[2018-03-22 21:10] jpmckinney commented on #64
Closing in favor of #121.

[2018-03-22 21:10] #64 closed

[2018-03-23 22:28] jpmckinney opened #127 "Fix inline triple backticks"
As was done in the standard and across all extensions.

As I remember, it involved searching and replacing (including in `.po` files):

    [^\n]```[^\n]

and then checking that the remaining triple backticks were legitimate.

This can be done without affecting translations, as was done in https://github.com/open-contracting/standard/pull/659 with:

[code]

[2018-03-23 23:27] jpmckinney opened #128 "Push/pull translations and use suggestions to resolve typo fixes"
#121 fixes a number of typos, and whitespace issues in codelists and JSON Schema files.

When I made similar corrections as part of 1.1.3, I was able to `make push`, fill in translations using suggestions where the match was over 90% (see [Transifex keyboard shortcuts](http://ocds-standard-development-handbook.readthedocs.io/en/latest/standard/translation/using_transifex/#translation-tasks)), then

[2018-04-19 23:41] duncandewhurst opened #129 "Broken links in schema"
Links within the field descriptions in the PPP schema that point to the OCDS documentation are broken (they contain placeholders for {{version}} and {{lang}}).

This occurs in both the [JSON schema](http://standard.open-contracting.org/profiles/ppp/master/en/_static/ppp-release-schema.json) and the [schema reference in the docs](http://standard.open-contracting.org/profiles/ppp/master/en/reference

[2018-04-19 23:45] jpmckinney commented on #129
Those placeholders get replaced in the `confpy` branch (which should be merged). The links won't work on that branch until it's merged, as the links will try the non-existent `confpy` build of the standard docs; once merged, they will try the existing `latest`build.

Broken build: http://standard.open-contracting.org/profiles/ppp/latest/en/reference/schema/

Confpy build: http://standard.open-cont

[2018-04-23 21:13] jpmckinney opened #130 "Updating translations"
To sort translations, I'll:

* [x] push to Transifex
* [x] resolve the 90%+ matches for typo fixes
* [x] [copy translations from the standard](http://ocds-standard-development-handbook.readthedocs.io/en/latest/profiles/#copying-translations-from-the-standard-to-a-profile), where possible, for the updated extensions
* [x] ask ILDA to translate remaining strings (should be few, and limited to commun

[2018-04-23 22:52] duncandewhurst commented on #130
Sounds good.

We did spot a few untranslated strings outside of community extensions, e.g. on the homepage of the docs and on the spreadsheet template page, but they should be picked up by ILDA translating the remaining strings

Some of the changes in https://github.com/open-contracting/public-private-partnerships/pull/125 look like they will require translation, so we should try to get that merge

[2018-04-23 23:25] jpmckinney commented on #128
Superseded #130

[2018-04-23 23:25] #128 closed

[2018-04-23 23:26] jpmckinney commented on #126
@duncandewhurst Should we fill in these missing descriptions while we're updating PPPs?

[2018-04-24 05:37] duncandewhurst commented on #126
These codes (and their titles) were based on a couple of bullet points in the [PPP disclosure framework](http://pubdocs.worldbank.org/en/773541448296707678/Disclosure-in-PPPs-Framework.pdf) (see page 59) for which no further definition or description were provided.

For the terms used in the title of the `financeArrangements` code ("Security and step in arrangements") the PPP Knowledge Lab [glossa

[2018-04-24 13:41] jpmckinney commented on #127
The following should find no matches:

[code]

[2018-04-24 13:48] jpmckinney commented on #130
#125 is merged. I also fixed #127 in #131.

We can wait on #126 for translations.

[2018-04-24 14:05] #127 closed

[2018-04-25 21:56] duncandewhurst commented on #126
For `guaranteeReports` code (title: "Fiscal commitment and contingent liabilities disclosure reports") I propose adding the following description, based on the definitions quoted below:

From [the PPP Knowledge Lab glossary](https://pppknowledgelab.org/glossary):

From [The APMG Public-Private Partnerships Certification Program](https://ppp-certification.com/ppp-certification-guide/181-types-fisca

[2018-05-01 04:00] jpmckinney commented on #126
# financeArrangements

Title is good. Let's use the broader definition. It's anticipated that some jurisdictions will have narrower definitions, like Australia.

# guaranteeeReports

Title: Fiscal commitment**s** and contingent liabilities disclosure reports

The APMG page is useful, so rather than choose which information to repeat and risk being incomplete or misleading, why not:

[2018-05-01 23:55] duncandewhurst commented on #126
# financeArrangements

I'm uncomfortable with the broader definition, since my reading of it precludes the narrower definition, i.e. "third party" step-in would mean a party which was neither the government nor the contractor assuming the responsibilities of a party to the contract, whereas my understanding of step-in rights in the PPP context was that it related to government (not a third party)

[2018-05-02 03:57] jpmckinney commented on #126
### financeArrangements

I briefly reviewed step-in rights. Making the party the government is too narrow, become it is often a lender. The part about "the other party to the contract has the right to terminate the contract" seems to be unnecessary and not always true. Outside PPPs, step-in rights allow a party to prosecute patent rights if another party with primary responsibility is disintereste

[2018-05-02 12:46] nadinefernz commented on #126
Specifically for PPP projects, I find the World Bank definition quite useful and clear:

Step-in rights are rights given to lenders in project financed arrangements to "step in" to the project company's position in the contract to take control of the infrastructure project where the project company is not performing. There may be prohibitions in the law on lenders having step-in rights.

[2018-05-02 14:10] jpmckinney commented on #126
^ from https://ppp.worldbank.org/public-private-partnership/legislation-regulation/framework-assessment/legal-environment/lender-issues-step-in-rights

However, that definition is specific to lenders, but there are step-in rights I've seen in PPPs in which the public authority has step-in rights. We'd probably remove the sentence about prohibitions in the law as it is not necessary to the definiti

[2018-05-03 00:29] duncandewhurst commented on #126
Okay great, thanks both. I think the discussion so far has been useful in clarifying what descriptions in OCDS should and shouldn't aim to do.

For `financeArrangements`, I've taken what I think are the two key points from the PPP Knowledge Lab definition of security, omitting the long list of different mechanisms, and combined that with the step-in rights definition from @jpmckinney to give:

For

[2018-05-03 03:03] #126 closed

[2018-05-08 19:43] jpmckinney opened #135 "Schema issues"
Now that we've corrected most issues in extensions, we can more easily see what's at issue in the profile itself:

* [x] release-schema.json has unused codelists: metricID.csv, milestoneCode.csv. I don't what what those two codelists are for, but they indeed are not used.

`release-schema.json` introduces a `Project` definition which is not referenced anywhere. Can we delete it? (It causes tests t

[2018-05-09 15:42] jpmckinney commented on #129
Working now that confpy is merged.

[2018-05-09 15:42] #129 closed

[2018-05-20 22:26] duncandewhurst commented on #135
I've added both metricID.csv and milestoneCode.csv to release-schema.json in https://github.com/open-contracting/public-private-partnerships/pull/138, see below for an explanation of how these codelists are used:

**metricID**

The description of `metrics/id` in the metrics extension states that:

The PPP profile introduces the metricID codelist for common types of metric for PPPs, e.g. reporting

[2018-05-20 23:07] duncandewhurst commented on #135
The orphaned `Project` definition was caused by [refactoring the budgets and projects extension](https://github.com/open-contracting/ocds_budget_projects_extension/commit/572a936918e86a3b3123f7468f9e53e98e7e32d7#diff-b07d550471924be8c07891e3e566661f) to remove redundant titles and descriptions, which involved removing the $ref to the `Project` definition which the PPP profile extends.

Since we do

[2018-05-24 03:50] duncandewhurst opened #142 "Declaring the PPP extension"
The [technical guidance](http://standard.open-contracting.org/profiles/ppp/latest/en/technical/) section of the docs includes the following statement;

There is a [consolidated extension](http://standard.open-contracting.org/profiles/ppp/latest/en/_static/ppp-extension.json) but I don't think there is currently a way of declaring it.

Instead the [example data](https://github.com/open-contracting/

[2018-05-30 19:29] timgdavies commented on #142
Agreed this should be fairly straightforward, and happy to have a look at it this week.

[2018-06-06 03:46] jpmckinney commented on #135
Closed via related PRs above.

[2018-06-06 03:46] #135 closed

[2018-06-07 04:54] duncandewhurst commented on #142
The codelist CSVs in compiledCodelists are patched version of the base codelists, but for the consolidated ppp extension, we need to collect together the codelists from each extension which makes up the PPP profile (i.e. not the patched codelists, just the extensions)

The extension codelists are currently written to docs/codelists by `apply-extensions.py` but were missing the codelists from the p

[2018-06-12 16:34] timgdavies commented on #142
I've been reviewing this (and it's taken a while to unpick where things are happening in all the refactored scripts: @jpmckinney I wonder if we wouldn't be better recognising that profiles are still an evolving idea, and we don't want to over-optimise at this stage for maintenance whilst we're still learning how they will evolve?)

With apologies for adding issues late in the day, and hopeful most

[2018-06-12 16:35] timgdavies commented on #142
@duncandewhurst If you get chance to give thoughts on the above, we can try and perhaps chat later in the week to work out full plan?

[2018-06-12 20:44] jpmckinney commented on #142
To respond to my mention: In terms of the refactor, there is only one new dependency (`documentation-support`), which moved code that previously resided in both the standard repository and this repository (or, in the case of `apply_extensions`, exclusively in this repository) into a single repository. The main difference to that code was to add more comments. As described in #121 (which I carefull

[2018-06-12 22:14] duncandewhurst commented on #142
@timgdavies  I'm in favour of separating out the ppp extension and ppp profile into separate repositories as I think having one repo being two extensions is confusing.

Regarding versioning, I might be missing out on a nuance here, but I think the controls are:

1. `apply-extensions.py` is run manually, so we can run the build without necessarily pulling in updated extensions, though that doesn't

[2018-06-13 21:42] duncandewhurst commented on #142
I forgot about the `extension_versions` key in [conf.py](https://github.com/open-contracting/public-private-partnerships/blob/5a4f7d0947bff2a24c2959deaf8591ae71afb450/docs/conf.py#L119) which pins the ppp build to certain versions of extensions.

Currently most extensions are pointing at the master branch, so we may want to create a release and pin to it once the current round of updates to the PP

[2018-06-14 23:09] duncandewhurst commented on #142
@jpmckinney I'm trying to check that declaring the consolidated extension works in the validator, but the [build](https://travis-ci.org/open-contracting/public-private-partnerships/builds/392468821?utm_source=github_status&utm_medium=notification) for the consolidated-extension branch is failing, I think due to a test:

I ran the tests locally against the public-private-partnerships repo and `test

[2018-06-14 23:54] jpmckinney commented on #142
Ah, yeah, the error message for that test is not helpful, and the more verbose error message is getting mixed with a lot of informative warning messages. I'll update the scripts to prefix "ERROR:" to error messages. Anyhow, the error message is:

[code]

This is because, in an extension, the tests first discover which codelists are in the repository, and then checks whether the schema actually mak

[2018-06-15 04:17] duncandewhurst commented on #142
@jpmckinney thanks for that, it's still failing on a different test though:

These codes are added to `releaseTag.csv` by the qualification extension, but added to the enum for `release/tag` by the PPP extension. I'm not sure if splitting them across the two repositories was intentional.

I tried [moving the changes to the enum into the qualification extension repository](https://github.com/open-c

[2018-06-15 15:34] jpmckinney commented on #142
The broad issue is that the tests don't anticipate a consolidated extension. I think it may be easiest to setup the PPPs extension and PPPs profile in the way that we think is correct, and then I can update the tests to work with the new arrangement. In the meantime, if it helps, you can comment out lines in .travis.yml.

I forget if it's stated anywhere, but if I remember correctly, extensions sh

[2018-06-17 23:43] duncandewhurst opened #147 "Initiation type in the PPP profile"
Whilst working on the updates in #142 I noticed that `release/initiationType` in the example data is set to `ppp` but that the codelist csv and enum in the schema for the profile still only permit `tender` so this causes a validation error.

Whilst the definition of the `tender` code is broad enough for use in the PPP context:

Based on the intended use of the field I think we should be using `ppp

[2018-06-18 01:08] duncandewhurst commented on #142
https://github.com/open-contracting/public-private-partnerships/pull/148 is ready to review and merge (https://github.com/open-contracting/ocds_qualification_extension/pull/23 and https://github.com/open-contracting/documentation-support/pull/10/ should also be merged)

[2018-06-18 22:10] jpmckinney commented on #142
Are we still planning on moving the root `release-schema.json` and `extension.json` files into their own repository? I think it will be cleaner and clearer than having both an extension and a profile expressed in the same repository.

[2018-06-18 22:18] duncandewhurst commented on #142
Yes we are, but we can do that at a later stage, since it won't affect how users declare the profile now that we have created the consolidated extension.

Since deploying the consolidated extension is blocking providing feedback to a couple of publishers, that's the immediate priority and we can work one splitting out the repository afterwards

[2018-06-18 22:29] jpmckinney commented on #142
I'm thinking that if we move the extension, then we can simply have the 'consolidated extension' in the root of the profile – the same as how an extension is in the root of its repo. However, moving the consolidated extension would change how it's declared.

It doesn't seem like it would add too much time to split it out - would it?

[2018-06-18 22:46] duncandewhurst commented on #142
The consolidated extension is copied to the `build/_static` directory so the URL the user declares isn't dependent on the structure of the Github repo (e.g. http://standard.open-contracting.org/profiles/ppp/master/en/_static/consolidatedExtension/extension.json).

Regarding splitting out the extension, it shouldn't be too much work, but if we keep this repository as the profile/consolidated extens

[2018-06-19 01:01] duncandewhurst commented on #147
It would be good to include a fix for this when we deploy the changes in https://github.com/open-contracting/public-private-partnerships/issues/142 so I've staged changes in [`fix-initiation-type`](https://github.com/open-contracting/public-private-partnerships/tree/fix-initiation-type) based on using `ppp` as the initiation type in the PPP profile

@timgdavies if you agree that's what we should d

[2018-06-19 01:50] duncandewhurst commented on #142
@jpmckinney pointed out that:

is quite a long URL and we should aim to have something similar to the schema URLs used in the core standard, e.g

Since the PPP profile doesn't yet have a version number yet we can't construct exactly that type of URL, however in the core standard the schema files also reside at http://standard.open-contracting.org/latest/en/release-schema.json (this is the URL at w

[2018-06-19 02:44] jpmckinney commented on #142
Sounds good, @duncandewhurst, and thanks for summarizing our call. I agree with this process.

[2018-06-19 12:03] Bjwebb commented on #142
Done in https://github.com/open-contracting/public-private-partnerships/commit/3422070e81a9184b513913313bf43ca6017192fb, we now have http://standard.open-contracting.org/profiles/ppp/update-extension-URL/en/extension.json which will become http://standard.open-contracting.org/profiles/ppp/latest/en/extension.json when this goes live.

This is done via adding a line to the Sphinx conf.py, which I t

[2018-06-19 18:17] timgdavies commented on #142
I'm just working through steps here. I've hit one issue with extension.json missing `initiationType.csv` which I'm adding on a branch and testing before we're ready for the deploy.

I wasn't sure it this was generated by apply-extension.py or not (my understanding is not?) - but in testing re-running apply-extension.json I was getting major diffs against the master branch, which was unexpected.

I

[2018-06-19 18:38] timgdavies commented on #142
Ok. I've merged the changes I need. Over to @bjwebb for the final deploy.

[2018-06-19 20:49] jpmckinney commented on #142
@duncandewhurst I'm working on a fix, which will be available shortly.

This issue can be swiftly corrected locally by using an OrderedDict when specifying the extensions to merge in conf.py, which had recently changed from a list to a dict.

In general, the best way to ensure no hiccups is to slow things down. Duncan and I had a good relationship working through some of the challenges and uncerta

[2018-06-19 21:28] jpmckinney commented on #142
I also noticed that I couldn't reproduce and hadn't encountered this issue, because I use Python 3.6, where dicts are insertion ordered. (In Python 3.7, to be released soon, insertion order will become a language feature, not only an implementation detail.)

[2018-06-19 21:35] jpmckinney commented on #142
Also, to clarify, profiles don't defer any logic to the extension registry. Previously, profiles would defer the choice of version of each extension to the registry. This is no longer the case.

[2018-06-20 14:17] jpmckinney commented on #142
🎉

[2018-06-20 14:26] jpmckinney opened #156 "Move PPP profile to new repository, move consolidated extension to root directory"
As discussed as a follow-up to #142.

@duncandewhurst Would you be able to take this forward in coming weeks? It's not a first priority, but as you've been in the headspace, I figure it's a good opportunity to do this follow-up.

See [this comment](https://github.com/open-contracting/public-private-partnerships/issues/142#issuecomment-398219044) for proposed steps. I will also likely want to updat

[2018-06-20 14:37] jpmckinney commented on #142
@duncandewhurst What updates did you anticipate to the standard development handbook (in your checklist)? You can create an issue there if appropriate.

Also, is the checklist item about the spreadsheet template logged as an issue in the CRM (or elsewhere)? Just want to be sure we don't forget it.

[2018-06-20 21:02] duncandewhurst commented on #156
Sure, no problem

[2018-06-20 22:41] #147 closed

[2018-06-20 22:46] duncandewhurst commented on #130
@jpmckinney I think we should be OK for ILDA to start work on translations now?

[2018-06-20 22:58] duncandewhurst commented on #142
@jpmckinney I've made the handbook updates in https://github.com/open-contracting/standard-development-handbook/pull/178 and updated the spreadsheet template (simply changing the extensions key in the meta tab)

[2018-06-20 23:46] duncandewhurst opened #157 "Versioning the PPP profile"
Currently the PPP profile doesn't have a formal version number or status and whilst the profile hasn't yet been formally launched, there are several publishers working on publishing OCDS for PPPs data, so we should aim to provide them with a stable version to implement against.

If we give the current version of the profile a name or number, then we can follow a similar approach to the core standa

[2018-06-20 23:48] duncandewhurst opened #158 "Create a live branch"
In relation to #157 I noticed that we aren't currently following the practice from the [standard development handbook](http://ocds-standard-development-handbook.readthedocs.io/en/latest/profiles/#branches):

So, in the meantime should we simply create a `live` branch so that the commit that the current live version was deployed from is easy to locate?

@timgdavies @jpmckinney

[2018-06-21 00:16] duncandewhurst opened #159 "Translating the consolidated extension"
Currently the patched PPP schema and compiled codelists for the PPP profile are translated as part of the docs build.

Prior to the changes in #142 publishers declared the PPP profile by declaring the individual extensions which comprise it and because extensions aren't translated at source these were the EN versions of the extensions.

Following the changes in #142 publishers now declare the PPP

[2018-06-21 00:22] duncandewhurst opened #160 "Using version and language placeholders in the documentation and sample data"
Following the changes in #142 publishers now declare the profile using the consolidated extension at;

This url appears in the following locations in the profiles:

Currently these all point to the `/latest/en` version of the consolidated extension, which is fine because we only have one version and the consolidated extension is untranslated.

Related to #157 and #159, once we have multiple versio

[2018-06-21 04:18] jpmckinney commented on #158
Since the documentation at `latest` needs to be copied into place, I think things may be fine as-is for the short term. Once we settle on a versioning scheme in #157, version names will take the place of `live`. If that's fine, we can update the handbook accordingly.

[2018-06-21 04:39] jpmckinney commented on #157
I propose we start a `1.0` branch and call the release `1.0.0-beta`.

"Core schema", in my mind, only refers to the schema files of OCDS, so when I read the sentence, it is simply restating that changes to OCDS are subject to its governance process.

Anyhow, I don't think that profiles *must* be versioned in sync with the core standard – though if a minor version of OCDS deprecates any fields, I i

[2018-06-21 04:45] jpmckinney commented on #130
@duncandewhurst In terms of priority/urgency, is there a strong demand to do that very soon? If not, I might prefer to sort out #156 and #159.

[2018-06-22 01:33] duncandewhurst commented on #130
Since two of the work in progress implementations are Spanish language, I think we should prioritise updating the translations, as currently the Spanish version of the docs will have chunks in English.

It can be done in parallel to #156 and #159 since neither of those should impact on the strings which need to be translated or have a noticeable impact on users (noting that CoVE isn't yet wired up

[2018-06-22 02:03] jpmckinney commented on #130
Okay, feel free to run the steps here: http://ocds-standard-development-handbook.readthedocs.io/en/latest/standard/translation/technical/#push-translations-to-transifex

[2018-06-22 02:06] jpmckinney commented on #156
@duncandewhurst Let me know when you think you will have time for this issue. (I don't mind doing it as part of the mentioned work on `apply_extensions`, but if you were planning on doing it shortly, that'd be great.)

[2018-06-22 02:46] duncandewhurst commented on #130
@jpmckinney great, I've run the steps

[2018-06-22 02:47] duncandewhurst commented on #156
I will try and get to this next week

[2018-06-25 15:53] jpmckinney commented on #160
~~Blocked by #159~~

[2018-06-26 22:19] jpmckinney commented on #156
I coordinated with @duncandewhurst via email that I would start on this.

[2018-06-26 22:55] duncandewhurst opened #163 "Schema tables not displaying correctly in framework reference"
Some schema tables are not displaying correctly in the framework reference ([example](http://standard.open-contracting.org/profiles/ppp/latest/en/framework/#i-1-1-project-name-and-description)):

![image](https://user-images.githubusercontent.com/19265814/41943686-810a261a-79f8-11e8-884c-d10bbb0484bc.png)

I think this was probably broken by a change to a community extension, I will work on resolv

[2018-06-26 23:47] jpmckinney commented on #163
I created an issue on the sphinxcontrib-jsonschema repo, so that we see warnings when building the documentation, so that in future we don't have to carefully test each use of the `jsonschema` directive.

[2018-06-27 00:03] jpmckinney commented on #163
Note that I've started updating standard-maintenance-scripts to work with the extracted PPP extension – so those tests will fail unless #162 is merged. If we want to push a fix for this issue without merging #162 (which still has a few steps to be completed), we can just comment out the line in .travis.yml again.

[2018-06-28 05:14] jpmckinney commented on #163
@duncandewhurst I created a PR https://github.com/OpenDataServices/sphinxcontrib-jsonschema/pull/10 which reports:

[code]

This should make it easier to fix the incorrect values.

[2018-06-28 05:47] jpmckinney commented on #163
The last three lines are easy to correct (add `0/` after `finance/`), but the first five lines are mysterious, as it seems they should resolve.

[2018-06-28 05:58] jpmckinney commented on #159
Note that the strings for this are captured by #164, so once merged we can extract and push strings to Transifex. Then, we can add a filename to the `translate_schema` call, so that the translation becomes available.

[2018-06-28 14:00] jpmckinney opened #165 "Risk allocation has broken links to profile"
"risk blocks", "risk category codelist" and "risk allocation codelist" at http://standard.open-contracting.org/profiles/ppp/latest/en/extensions/risk_allocation/

This may be moot once the extension explorer is developed, as presumably the extension will link within the explorer for documentation of its own codelists and objects.

[2018-06-28 23:30] duncandewhurst commented on #163
Those are deep nested properties (since the definition of project was not used elsewhere we removed the ref in https://github.com/open-contracting/ocds_budget_projects_extension/pull/13 to avoid having duplicate titles and descriptions)

So perhaps sphinx is not picking those up because it expects no deep nested properties?

[2018-06-29 04:16] jpmckinney commented on #163
I had a look at the directive in https://github.com/OpenDataServices/sphinxcontrib-jsonschema but couldn't see the issue. Could you work with @Bjwebb to resolve?

[2018-06-29 17:17] jpmckinney commented on #158
Noting that that line in the handbook was introduced in this commit: https://github.com/open-contracting/standard-development-handbook/commit/101614d5d0636440fc6e6138b79ec9b7e811f944

[2018-07-02 16:41] Bjwebb commented on #163
Looks like the problem is that sphinxcontrib-jsonschema only picks up nested properties when `type: "object"`, whereas for `planning/project` we have `"type": ["object", "null"]`. Is that type correct? We don't have "object or null" anywhere else.

[2018-07-02 16:50] jpmckinney commented on #163
We have object and null in many places: Organization/details, Item/unit in OCDS, and others in extensions.

[2018-07-03 10:34] Bjwebb commented on #163
Ah, yes. That's what I get trying to write an update immediately before leaving.

Here's a change to sphinxcontrib-jsonschema to use all the types in a union of types - https://github.com/OpenDataServices/sphinxcontrib-jsonschema/pull/12

[2018-07-03 14:32] jpmckinney commented on #163
I'm not deeply familiar with the code, but LGTM :)

[2018-07-04 12:51] #156 closed

[2018-07-04 13:08] jpmckinney commented on #159
@duncandewhurst Would we want the consolidated extension to be available in different languages at each of the following?

* http://standard.open-contracting.org/profiles/ppp/latest/en/
* http://standard.open-contracting.org/profiles/ppp/latest/es/

[2018-07-04 14:41] #163 closed

[2018-07-05 17:46] jpmckinney commented on #159
In our [translation policy](https://docs.google.com/document/d/1GLwWTpgDDkKmMr1hZE4D75LI8VQtFiD0VA7TF_FvY_Q/edit#):

I'm thinking we probably only want a given version of an extension or profile to have a single base URL. This is in line with the translations being conveniences as described above.

The standard follows those principles. The canonical base URL for the schema of OCDS 1.1.3 is http:/

[2018-07-05 17:57] jpmckinney commented on #160
Noting that we may need to change `conf.py` to look more like the standard's, i.e. take advantage of the `current_lang` symlink.

[2018-07-05 22:45] jpmckinney commented on #159
If we sort out #157, then we can use as a canonical URL similar to the standards, instead of a canonical URL with `latest` and `en` in it, e.g.

http://standard.open-contracting.org/profiles/ppp/schema/1__0__0__beta/

[2018-07-07 04:32] #130 closed

[2018-07-09 02:51] duncandewhurst commented on #159
Agreed, it would be good to mirror the approach used in the main standard here and have a canonical url without the language.

I think there's an unresolved question as to how extensions in general are declared for data in languages other than English, i.e. how do we make sure extension aware tooling such as CoVE is able to access translated versions of the field titles and descriptions used in an

[2018-07-09 14:01] jpmckinney commented on #159
I think the work being done on https://github.com/open-contracting/extensions-data-collector is likely to provide a way to retrieve translated schema and codelists.

^ Also, I think you meant just without the language (`en`), not without the version (`1__0__0__beta`)?

[2018-07-11 08:18] timgdavies commented on #157
I'm happy with the proposal here.

[2018-07-11 14:17] jpmckinney commented on #157
Lindsey as well. I created the `1.0` branch.

I'll rename `master` to `1.0-dev`.

When we're ready for a release (perhaps after closing some remaining issues), we can use `1.0.0-beta`.

(The extensions use dots in tag names, but the standard uses double underscores like `1__0__0-beta`. I would prefer to have the OCDS for PPPs tag names match the way we refer to versions in prose, unless there was

[2018-07-11 14:38] jpmckinney commented on #158
Based on discussion in #157, we'll have `latest`, `1.0` and `1.0-dev` branches, as we do for the standard. http://ocds-standard-development-handbook.readthedocs.io/en/latest/standard/technical/repository/#branches-and-tags

[2018-07-11 14:38] #158 closed

[2018-07-11 15:11] jpmckinney commented on #157
I've updated the handbook to match this proposal: https://github.com/open-contracting/standard-development-handbook/pull/186

[2018-07-11 15:11] #157 closed

[2018-08-01 04:14] jpmckinney opened #170 "Tag and deploy 1.0.0-beta"
I've filled in the [instructions for deploying profiles](http://ocds-standard-development-handbook.readthedocs.io/en/latest/profiles/technical/deployment/).

Once we're ready, we need to create a tagged release (`1__0__0__beta`) and then run the "Build and deploy" steps of those instructions.

* The "Copy the schema into place" step requires documentation, but it should be similar to the standard'

[2018-08-01 06:16] jpmckinney opened #172 "Change consolidated extension URL"
To http://standard.open-contracting.org/profiles/ppp/schema/1__0__0__beta/extension.json

Instead of http://standard.open-contracting.org/profiles/ppp/latest/en/extension.json

As discussed in #159

[2018-08-01 06:27] jpmckinney opened #173 "{{version}} in the patched release schema is being set to an incorrect value"
It's being set to the version/branch of the profile being built, not to the version/branch of the standard. This is fine presently, as the deployed version of the profile is `latest`. However, it will break once the versions are out-of-sync.

(`{{lang}}` is also replaced according to the profile, but the profile's languages are a subset of the standard's, so it's okay.)

[2018-08-01 06:39] jpmckinney commented on #160
Per #172, we would no longer have a language as part of the consolidated extension's canonical URL (http://standard.open-contracting.org/profiles/ppp/schema/1__0__0__beta/extension.json).

In the standard, we replace `{{version}}` with e.g. `1.1`, which is used for documentation URLs. We don't replace it with e.g. `1__1__3`, which is used for schema URLs http://standard.open-contracting.org/schema

[2018-08-01 07:06] jpmckinney opened #175 "Add "es" "name" and "description" to schema/profile/extension.json"
https://github.com/open-contracting/public-private-partnerships/blob/1.0-dev/schema/profile/extension.json

[2018-08-01 08:59] duncandewhurst commented on #172
noting that #160 lists the places where this url needs to be changed

[2018-08-01 09:03] duncandewhurst commented on #160
Yes, I think that all sounds fine. I opened an issue on the handbook to add the reminder once #172 is done.

That url is used in the `id` property of the schema itself:

[code]

But not anywhere else in the docs as far as I'm aware (e.g. the link to download the schema on [this page](http://standard.open-contracting.org/latest/en/schema/release/) points to: http://standard.open-contracting.org/lat

[2018-08-01 09:12] duncandewhurst commented on #159
I did indeed mean that (and I've edited the original comment).

Should we leave this issue open until the other work on extensions has provided a way to retrieve a translated version of the consolidated extension?

[2018-08-01 09:14] Bjwebb commented on #170
FWIW `1__0__beta` would be more consistent with our OCDS standard releases (https://github.com/open-contracting/standard/releases - `1__0__RC`).

[2018-08-01 14:51] jpmckinney commented on #160
Thanks! I created https://github.com/open-contracting/standard/issues/742 for the aside.

[2018-08-01 14:51] #160 closed

[2018-08-01 14:55] jpmckinney commented on #159
With #171, it will be possible to get translated versions of the consolidated extension at the convenience URL of e.g. http://standard.open-contracting.org/profiles/ppp/translated-consolidated-extension/es/release-schema.json

We can explore alternative methods like content negotiation, etc. through the extension explorer / extensions-data-collector. The present method of substituting the language

[2018-08-01 15:13] jpmckinney commented on #170
The standard went from 1__0__RC to 1__0__0 (though in the changelog, it's 1.0.RC to 1.0). However, according to https://semver.org, release candidates (and beta, alpha, etc.) are labels on an otherwise full version number. So, I think it's better to stick with 1__0__0__beta, as I consider 1__0__RC to be a small error (not something to worry about).

[2018-08-06 15:38] #173 closed, assigned to nobody

[2018-08-06 15:42] jpmckinney commented on #172
Standard's instructions for copying schema into place are at http://ocds-standard-development-handbook.readthedocs.io/en/latest/standard/technical/deployment/#copy-the-schema-into-place which we can then update for profiles at http://ocds-standard-development-handbook.readthedocs.io/en/latest/profiles/technical/deployment/#copy-the-schema-into-place

[2018-08-07 10:31] #175 closed, assigned to nobody

[2018-08-07 11:24] duncandewhurst commented on #172
I've updated the URL where it occurs in this repo (https://github.com/open-contracting/public-private-partnerships/pull/178) and in the ocds_ppp_extension repo (https://github.com/open-contracting-extensions/ocds_ppp_extension/pull/5).

I don't have edit access the latter repo so I've forked it, made a PR and manually edited the url in the readme in this repo, so we don't need to run `apply-extens

[2018-08-07 16:18] jpmckinney commented on #172
Aha, I've changed the default permissions for members of open-contracting-extensions to "Write".

I had made a change to the standard-maintenance-scripts to fail if `"schemas"` wasn't provided in extension.json. I've merged the PR that added that field, so tests should be passing in new builds.

[2018-08-07 16:36] #159 closed

[2018-08-07 17:10] jpmckinney commented on #172
Closed by #178 and open-contracting-extensions/ocds_ppp_extension#5

[2018-08-07 17:10] #172 closed, assigned to nobody

[2018-08-07 17:32] jpmckinney commented on #170
@duncandewhurst @Bjwebb I think we're ready to proceed with a tag and deploy.

Feel free to merge #179 and #180 as part of that.

[2018-08-23 14:42] jpmckinney commented on #170
Noting that I'll fix the logic around the replacement of `{{version}}` and then update this issue.

Original issue was https://github.com/open-contracting/public-private-partnerships/issues/173

[2018-08-23 18:21] jpmckinney commented on #170
#182 is merged. @kindly can continue with the deploy.

[2018-09-03 13:25] kindly commented on #170
@jpmckinney
I have a few concerns with the deploy as currently stands:

The place allotted for the full extension is currently http://standard.open-contracting.org/profiles/ppp/schema/1__0__0__beta/extension.json as [documented](http://standard.open-contracting.org/profiles/ppp/1.0/en/technical/#the-ocds-for-ppps-schema).  I am not sure I agree it should be there as it is not a schema but an exten

[2018-09-03 17:18] duncandewhurst commented on #170
thanks @kindly I think this makes sense to get right now and is good learning for future profile deploys

[2018-09-04 14:56] jpmckinney commented on #170
@kindly Your suggestions sound good to me. Are these actions you can take forward? I think the steps are:

* Provide the `id` in [`build-profile.py`](https://github.com/open-contracting/public-private-partnerships/blob/1.0-dev/schema/build-profile.py#L14) as an argument to the [`build_profile`](https://github.com/open-contracting/documentation-support/blob/master/ocdsdocumentationsupport/__init__.

[2018-09-06 10:26] kindly commented on #170
@jpmckinney
Yes those are the actions and I can take them forward. We also need to:

- Update the docs and examples to reflect the url changes.

[2018-10-31 21:28] #170 closed, assigned to nobody

[2018-11-14 09:32] duncandewhurst opened #186 "milestoneType and milestoneCode codelists missing from documentation"
The [milestoneType codelist](https://github.com/open-contracting/public-private-partnerships/blob/1.0-dev/schema/patched/codelists/milestoneType.csv) is missing from the [codelists page](http://standard.open-contracting.org/profiles/ppp/latest/en/reference/codelists/#codelists) of the documentation.

The [schema reference](http://standard.open-contracting.org/profiles/ppp/latest/en/reference/schem

[2018-11-14 09:49] duncandewhurst opened #187 "Add a schema browser"
The PPP profile has a flattened version of the schema on the [full schema reference](http://standard.open-contracting.org/profiles/ppp/latest/en/reference/schema/) page but lacks a [schema browser](http://standard.open-contracting.org/latest/en/schema/release/) such as we have in the core standard.

I find the schema browser is easier to navigate and gives a better understand of the hierarchy and

[2018-11-14 09:53] duncandewhurst opened #188 "milestoneCode codelist is missing from the documentation"
The [milestoneCode codelist](https://github.com/open-contracting/public-private-partnerships/blob/1.0-dev/schema/patched/codelists/milestoneCode.csv) is missing from the codelists page of the documentation.

The schema reference for `milestone/code` doesn't currently link to the milestoneCode codelist - this should be updated once the codelist appears in the PPP extension.

[2018-11-14 10:20] duncandewhurst opened #189 "riskCategory codelist missing from documentation"
https://github.com/open-contracting/public-private-partnerships/blob/1.0-dev/schema/patched/codelists/riskCategory.csv

[2018-11-14 13:22] jpmckinney commented on #186
Changing the URL would require changing the `description` field (through the PPP extension). Is that the intention? We typically don't change titles or descriptions of fields in extensions.

An alternative is for the `build-profile.py` script to find and replace URLs. At least that way, if the standard updates its description, the profile will use it in its patched schema, without having to rememb

[2018-11-14 13:25] jpmckinney commented on #188
As with #186, rather than change the `description` through an extension, we can perhaps add a sentence to the patched schema when it's built by `build-profile.py`. These issues suggest that perhaps URLs should be stored outside descriptions – to avoid having to manipulate normative content when changing URLs.

[2018-11-27 09:27] duncandewhurst commented on #186
Agree we shouldn't change the description in the PPP extension.

The alternative proposal sounds good and I think applying it to all codelists in the profile would be preferable, since even where codelists are not extended by the profile, they have an entry on the [codelist reference page](http://standard.open-contracting.org/profiles/ppp/latest/en/reference/codelists/).

The only disadvantage I s

[2018-11-27 13:11] jpmckinney commented on #186
We can perhaps add a link to the core docs from the profile for the extra information.

Also, if a codelist isn't modified by the profile (like currency, for example), should we instead not have any information on the reference page at all, and just provide a link to the core docs for that codelist?

[2018-11-27 18:01] duncandewhurst commented on #186
Sounds good to me.

[2019-01-04 14:51] jpmckinney opened #191 "COFOG broken link"
Use https://unstats.un.org/unsd/publications/catalogue?selectID=145

Not http://unstats.un.org/unsd/cr/registry/regcst.asp?Cl=4&Lg=1

[2019-01-08 07:21] pindec opened #192 "Search not working"
Search in PPPs documentation appears to return no results regardless of search term.

E.g. [search for OCDS](http://standard.open-contracting.org/profiles/ppp/latest/en/search/?q=ocds&check_keywords=yes&area=default).

[2019-01-08 15:39] jpmckinney commented on #192
@kindly I think https://github.com/OpenDataServices/standard-search isn't indexing any of the profiles. Can you add the `ppp`, `eu`, `gpa` profiles to the index?

cc @duncandewhurst

[2019-01-08 15:40] jpmckinney commented on #192
In the short term, on the profiles, we *could* use a branch of the standard-theme that reverts the substitution of the new search backend, but if the fix is quick, then I'd rather pursue the fix.

[2019-01-09 21:27] kindly commented on #192
Current status of this:

- I have manually indexed the `latest` `ppp` branch and the `master` `eu` branch, the above is now working.  I can easily index any branches people want as the standard search command line works for profiles.
- The `gpa` profile is causing issues with the index due to the big embedded table (actually due to a tr having class `section`).  This can be fixed pretty easily.
-

[2019-01-10 08:08] duncandewhurst commented on #192
great, thanks @kindly

The same issue is also affecting the search in the [infrastructure docs](http://standard.open-contracting.org/infrastructure/latest/en/), would it be possible to add that to the index?

[2019-01-10 09:48] kindly commented on #192
@duncandewhurst I have indexed the `infrastructure` docs.
As this does not live under the `profiles` url then this might be another edge case to consider when doing the above work.

[2019-01-10 09:53] duncandewhurst commented on #192
@kindly brilliant, thank you. I opened an issue in the infrastructure repo so we don't forget there is a manual step for now

[2019-01-10 14:01] jpmckinney commented on #192
Search is working again. I opened a general search issue here: https://github.com/open-contracting/standard-development-handbook/issues/205

[2019-01-10 14:01] #192 closed, assigned to nobody

[2019-01-22 22:26] jpmckinney commented on #165
Fixed the links in the extension (these would have caused issues in the explorer as well).

[2019-01-22 22:31] #191 closed, assigned to nobody

[2019-01-22 22:34] jpmckinney commented on #188
Merged into #186 as the solution will be the same.

[2019-01-22 22:34] #188 closed, assigned to nobody

[2019-01-22 22:35] jpmckinney commented on #186
Copying my comment from #188: These issues suggest that perhaps URLs should be stored outside descriptions – to avoid having to manipulate normative content when changing URLs.

[2019-01-22 22:36] jpmckinney commented on #189
Adding links to the Extension Explorer (instead of adding extension docs into the profile) might resolve this issue.

[2019-01-23 17:20] jpmckinney opened #193 "Link to Extension Explorer instead of building extension docs"
Update the documentation to refer to specific versions of extensions in the extensions explorer, instead of including extension documentation.

Likely involves changes to the profile builder.

[2019-01-23 19:31] jpmckinney opened #194 "Mysterious milestones extensions"
http://standard.open-contracting.org/profiles/ppp/latest/en/extensions/milestones/

Linked from http://standard.open-contracting.org/profiles/ppp/latest/en/framework/#i-10-project-approval-dates

@duncandewhurst I don't understand this page, as these `milestones` fields are part of core, and there is no extension to which this documentation relates.

[2019-01-29 17:25] jpmckinney opened #196 "Please add me as a maintainer on ocds-for-ppps.readthedocs.io"
I need to turn off search engine indexing, and fix redirection on branches like https://ocds-for-ppps.readthedocs.io/en/stable/extensions/ppp/

Not sure who has access so tagging @Bjwebb @robredpath @duncandewhurst @kindly

[2019-01-30 09:00] duncandewhurst commented on #196
Is your readthedocs username also jpmckinney?

[2019-01-30 09:06] robredpath commented on #196
I've added @duncandewhurst and @jpmckinney as maintainers to that project.

[2019-01-30 15:45] jpmckinney opened #197 "Create new codes instead of changing semantics of existing codes"
Originally discussed in https://github.com/open-contracting/infrastructure/pull/75#issuecomment-458990276

Code | PPP Title | PPP Description | OCDS Title (if different) | OCDS Description (if different)
-- | -- | -- | -- | --
needsAssessment | Needs Assessment | Information on the project need, benefits provided, and economic and social impact |   | Documentation of the needs assessments carried

[2019-01-30 16:19] jpmckinney commented on #196
Thanks, @robredpath. Can you please also add us to https://readthedocs.org/projects/ocds-for-ppps-spanish/ ?

[2019-01-30 18:50] jpmckinney opened #198 "shareholder OrganizationReference's don't resolve"
except for "XX-XXX-11111111"

[2019-01-30 19:43] jpmckinney opened #199 "Remove ".0" from id and awardID fields in examples"
I assume this is due to an error during flattening/autogeneration which used floats instead of integers.

[2019-01-31 09:12] robredpath commented on #196
@jpmckinney done!

[2019-01-31 09:12] #196 closed, assigned to robredpath

[2019-01-31 09:14] duncandewhurst opened #200 "Add guidance on publishing subcontracting information"
See https://github.com/open-contracting/standard/issues/392#issuecomment-458378759

[2019-01-31 16:42] jpmckinney commented on #200
Do we need guidance on subcontractors in three places? I'd rather have it in one place and use links. If there's something unique to PPPs, we can have that unique content here, and then link to the rest.

[2019-01-31 22:59] jpmckinney commented on #196
Redirection now working on /es/ of ReadTheDocs:

https://ocds-for-ppps.readthedocs.io/es/stable/
https://ocds-for-ppps.readthedocs.io/es/latest/

[2019-02-13 12:57] jpmckinney commented on #197
Noting we should align the definition of `environmentalImpact` between PPP and Infra codelists.

[2019-03-20 17:12] jpmckinney opened #201 "Add a changelog page"
Some items to include:

* The core extensions have been upgraded to v1.1.4: Bid statistics and details, Location, Milestone documents, Process level title and description.
* The documentation pages of all extensions have been moved to the new [Extension Explorer](https://extensions.open-contracting.org/).
* A patched release package schema is now distributed with the profile.
* The build process f

[2019-03-20 19:28] #189 closed, assigned to nobody

[2019-03-20 19:28] #193 closed, assigned to nobody

[2019-04-05 20:05] #199 closed, assigned to jpmckinney

[2019-04-08 11:54] duncandewhurst commented on #197
The element of the PPP framework which the `needsAssessment` code is used to meet is phrased as follows:

i.e. the economic and social benefits are considered part of the project need, so I think it's fine to use the expanded definition of `needsAssessment` from OC4IDS:

For `contractSchedule` we can rename the code to `contractMilestones` and use the existing description.

I've drafted PR #205 wi

[2019-04-08 12:12] duncandewhurst commented on #194
Most of the changes in the draft extension documented on http://standard.open-contracting.org/profiles/ppp/latest/en/extensions/milestones/ ended up being added to core as part of the 1.1 upgrade.

The changes which aren't in core (additions to the milestoneType codelist and adding a codelist for milestoneCode) are actually part of the [PPP extension](https://extensions.open-contracting.org/en/ext

[2019-04-08 18:52] jpmckinney commented on #194
Okay, I went with removing the page in #206

[2019-04-08 18:56] jpmckinney commented on #197
Sounds good – so we're effectively adding "or project" to the OCDS definition of `needsAssessment`, which was one option discussed in open-contracting/infrastructure#75.

[2019-04-08 19:16] #198 closed, assigned to duncandewhurst

[2019-04-08 19:17] #194 closed, assigned to duncandewhurst

[2019-04-08 19:40] #197 closed, assigned to duncandewhurst

[2019-05-03 14:37] pindec opened #207 "Example data missing sourceParty/id fields"
The sample data for PPPs for both [releases](http://standard.open-contracting.org/profiles/ppp/latest/en/_static/full.json) and [records](http://standard.open-contracting.org/profiles/ppp/latest/en/_static/full_record_package.json) both omit the `sourceParty/id` Organization ID fields to match the id of an entry in the parties section.

[2019-05-13 10:34] pindec commented on #207
Noting that this [may be deliberate](https://github.com/open-contracting/standard/issues/377#issuecomment-272890743), to cover situations where sourceParties are unknown at the time of budgeting.

[2019-05-13 14:16] duncandewhurst commented on #207
Not an issue, as this is in line with the [guidance](https://github.com/open-contracting-extensions/ocds_budget_breakdown_extension#guidance) in the budget breakdown extension for disclosing budget information when the details of the party that will ultimately provide the budget aren't yet known.

[2019-05-13 14:16] #207 closed, assigned to nobody

[2019-05-13 14:32] duncandewhurst opened #208 "Sample data: Remove planning.budget.amount"
`planning.budget.amount` is populated in the sample data, however this field is not referenced in the [framework reference](https://github.com/open-contracting-extensions/ocds_budget_breakdown_extension#guidance) and instead `planning.project.totalValue` is recommended to provide the planned value of the project.

Recommend removing `planning.budget.amount` as it is unclear whether this relates to

[2019-06-26 22:50] jpmckinney commented on #208
Framework reference is here (link above is to budget breakdown extension): http://standard.open-contracting.org/profiles/ppp/latest/en/framework/

I rolled this into #203. See new note in readme in that PR: we should edit the examples in the `ocds-show` repository (where these examples come from) not in this repo, as changes will be overwritten by `make update_ocds_show`.

[2019-07-24 11:20] duncandewhurst commented on #186
@jpmckinney, just checking we're on the same page with what needs to be done here:

1. Add the milestoneType and milestoneCode codelists to the codelist reference page
2. Remove codelists which are not modified by the profile from the codelist reference page and add a section with links to the unmodified codelists in the OCDS documentation (same [approach as OC4IDS](http://standard.open-contractin

[2019-07-24 19:50] jpmckinney opened #211 "Use GitHub Pages deployment of OCDS Show for PPPs"
In a recent pull request, I spent a fair amount of time reconciling differences between the ocds-show-ppp repository, and the edited version of it that is stored in this repo.

Instead of embedding ocds-show-ppp in this repo, we should just use the live version at https://open-contracting.github.io/ocds-show-ppp/

On http://standard.open-contracting.org/profiles/ppp/latest/en/example/#explore-the-

[2019-07-25 03:52] jpmckinney commented on #186
For (2), please put the references at the top of the page, before the codelists. As a documentation user, I find that I assume the structure of the page is codelist names followed by tables; I wouldn't expect to look for or find a list of links at the bottom of the long page. An issue can be created for OC4IDS.

I can do (3) once the others are done.

For (4), wouldn't it be better to put that not

[2019-07-26 16:45] jpmckinney opened #213 "Replace 'OCDS core' with 'OCDS'"
We can exclude the patched codelists, as it's possible some others' logic depends on those values, and in any case that column is not content that is relevant to most users.

As mentioned in #210, I find 'OCDS core' can lead to confusion. In terms of specifications, there's OCDS, profiles, and extensions. I don't think we need to append 'core', which is already used in 'core extensions' (itself so

[2019-07-26 21:13] jpmckinney commented on #211
See https://github.com/open-contracting-extensions/public-private-partnerships/pull/209#discussion_r307908393 for implementation details and rationale.

[2019-07-30 08:13] duncandewhurst commented on #211
This will be easier for one of the devs to do than for me so I've created a [Trello card](https://trello.com/c/U9Zhzy12/50-ocds-for-ppps-use-github-pages-deployment-of-ocds-show-for-ppps#) to discuss on the next portfolio call.

[2019-07-30 09:29] duncandewhurst commented on #208
Closed by #203

[2019-07-30 09:29] #208 closed, assigned to nobody

[2019-07-30 13:47] jpmckinney commented on #211
I just need ODS to set the CORS headers, as I don't know how to do that in our deployment system (and I don't think I can without write access to opendataservices-deploy). It'll be quick for me to do the rest as I already know exactly what to do.

[2019-07-30 16:07] #213 closed, assigned to duncandewhurst

[2019-07-30 16:10] jpmckinney opened #215 "Change documentation URLs in schema for modified codelists"
Follow-up to #186

Issue: "The schema reference currently links to the milestoneType codelist in OCDS core - this should be updated once the codelist appears in the PPP extension."

* [x] Update build-profile.py to find and replace URLs for codelists which are modified by the profile, to reference the codelist reference page in the profile, rather than the OCDS docs

Context: "An alternative is fo

[2019-07-30 16:11] jpmckinney commented on #186
Moved build-profile.py task to #215

[2019-07-30 16:12] #186 closed, assigned to nobody

[2019-07-30 16:27] #187 closed, assigned to nobody

[2019-07-30 16:28] #201 closed, assigned to nobody

[2019-08-02 08:25] duncandewhurst commented on #211
![](https://github.trello.services/images/mini-trello-icon.png) [Set CORS headers on standard documentation server](https://trello.com/c/U9Zhzy12/50-set-cors-headers-on-standard-documentation-server)

[2019-08-07 15:17] jpmckinney opened #216 "Clearly state the relationship between a PPP and contracting process"
My understanding is that there is a one-to-one correspondence between the public-private partnership and a contracting process, and the documentation seems consistent with this, but I couldn't find where this was clearly stated.

[2019-08-08 16:25] jpmckinney opened #217 "Remove preQualification extension and update guidance accordingly"
Related: https://github.com/open-contracting/standard/issues/906

https://standard.open-contracting.org/profiles/ppp/latest/en/framework/#ii-1-pre-qualification

[2019-08-15 16:10] ghost opened #218 "Change Travis to use new deploy script"
https://github.com/open-contracting-extensions/public-private-partnerships/blob/1.0-dev/.travis.yml - should now be the new deploy repo, https://github.com/open-contracting/deploy

[2019-08-15 16:10] ghost commented on #218
![](https://github.trello.services/images/mini-trello-icon.png) [Improve standard-search](https://trello.com/c/31F2W1nd/7-improve-standard-search)

[2019-08-15 16:11] odscjames commented on #217
![](https://github.trello.services/images/mini-trello-icon.png) [Improve standard-search](https://trello.com/c/31F2W1nd/7-improve-standard-search)

[2019-08-15 17:07] #218 closed, assigned to nobody

[2019-09-04 10:23] Bjwebb commented on #211
We should set this header in the [Apache config](https://github.com/open-contracting/deploy/blob/master/salt/apache/ocds-docs-live.conf.include):

[code]

This header must appear for all JSON files, but shouldn't appear for data review tool pages, to avoid possible future XSS attacks.

[2019-09-05 13:54] Bjwebb commented on #211
CORS headers are now set on the documentation servers - https://github.com/open-contracting/deploy/commit/3f361435bb6ee8e3a82a5c5a8de7b10070910398

The GitHub pages link now works - https://open-contracting.github.io/ocds-show-ppp/?load=https://standard.open-contracting.org/profiles/ppp/latest/en/_static/full_record_package.json

[2019-09-09 22:11] #211 closed, assigned to Bjwebb, duncandewhurst

[2019-09-28 16:54] jpmckinney commented on #200
Closing in favor of open-contracting/standard#392.

[2019-09-28 16:54] #200 closed, assigned to nobody

[2019-09-30 15:00] duncandewhurst commented on #216
Yes, that's correct.

I've added this to the technical overview page, which already describes the relationship between OCDS for PPPs and OCDS, in https://github.com/open-contracting-extensions/public-private-partnerships/pull/222

[2019-09-30 15:26] #216 closed, assigned to duncandewhurst

[2019-10-07 13:17] #215 closed, assigned to jpmckinney

[2019-11-25 16:12] jpmckinney opened #227 "Add link to mapping-sheet for patched schema"
On this page: https://standard.open-contracting.org/profiles/ppp/latest/en/reference/

Follow-up to open-contracting/toucan#12

[2020-02-24 20:40] jpmckinney opened #229 "framework.md: Reduce repetition"
The page is extremely long, and it's doubtful anyone will read it from top to bottom.

For example, the Document and Organization definitions are repeated many times. It'd be better to have generic Document and Organization sections in the schema reference, and to link to them.

[2020-02-24 20:49] jpmckinney commented on #229
The page currently:

* [x] links to the Organization instead of the Parties header in the OCDS documentation, and
* [x] uses non-existent paths starting with `organization/`.

For both Document and Organization, instead of making changes to the schema reference, it's maybe sufficient to just leave the links to the OCDS documentation.

[2020-10-23 17:10] jpmckinney commented on #229
It's easy to find repeated schema tables using:

    grep -ri :include: . | sort

[2020-10-23 17:43] jpmckinney commented on #229
Done for:

* Document (41 occurrences)
* Party (9)
* Period (8)
* OrganizationReference (7)
* Metric (5)
* Value (4)
* Milestone (3)

This cut about 100 printed pages (176 from 275). **Update:** Down to 138 (half).

[2020-10-23 21:58] jpmckinney commented on #217
Still pending as of 2020 annual review of OCDS for PPPs.

[2020-11-02 15:45] #229 closed, assigned to nobody

[2020-11-02 15:46] #227 closed, assigned to nobody

[2020-11-02 17:45] jpmckinney opened #233 "Which codelists to include on codelists.md?"
The codelists listed are:

* [x] bidStatistics.csv
* [x] bidStatus.csv
* [x] dataType.csv
* [x] documentType.csv
* [x] financeCategory.csv
* [x] initiationType.csv
* [x] milestoneCode.csv
* [x] milestoneType.csv
* [x] partyRole.csv
* [x] preQualificationStatus.csv
* [x] relatesTo.csv
* [x] releaseTag.csv
* [x] responseSource.csv
* [x] riskAllocation.csv
* [x] riskCategory.csv
* [x] votingRights.cs

[2020-11-02 17:49] jpmckinney commented on #233
Once this issue is closed, I can update #234 and then ask CDS to translate the iterative improvements.

[2020-11-02 17:50] jpmckinney commented on #233
If we review which extensions to include, we can check each off as we validate which ought to be included.

Used in `examples/full.json`, but otherwise not referenced?

* [x] bids (`bids/details` and `bids/statistics`) #245
* [x] documentation_details (`Document.author` only) https://github.com/open-contracting-extensions/public-private-partnerships/issues/233#issuecomment-778897261

To be removed

[2020-11-02 18:48] jpmckinney commented on #233
My preference is to omit extensions that aren't mentioned in the guidance, from both the profile's schema and from the example.

There are many extensions that are relevant to PPPs that aren't in the profile (given that many/most extensions have now been authored after OCDS for PPPs was), but they aren't included here. Publishers are expected to consider such extensions in the normal course of pub

[2020-11-02 18:52] jpmckinney commented on #233
Going back to the issue description, if we omit the unchecked extensions, then I'm fine with just including all codelists from all extensions in the profile, since we'll have ended up with the same number of codelists that we have now (after removing 2 bids and 3 requirements codelists).

[2020-11-13 03:42] duncandewhurst opened #235 "Describe how to disclose structured data about beneficiaries"
CoST Honduras collect structured data on the beneficiaries of PPP projects in SISOCS APP and they want to include this in their OCDS for PPPs data.

The closest element in OCDS for PPPs is [I.4 Project economic and social benefits](https://standard.open-contracting.org/profiles/ppp/latest/en/framework/#i-4-project-economic-and-social-benefits), defined in the World Bank framework as:

However, OCD

[2020-11-13 18:59] jpmckinney commented on #235
Yes to 3, but why is location an array?

[2020-11-15 19:52] duncandewhurst commented on #235
I was misremembering the structure of the location extension, I've updated the issue description.

[2020-11-16 15:10] jpmckinney commented on #235
Looks good!

[2020-11-16 18:58] jpmckinney opened #236 "Restore buyer and suppliers fields"
These are renamed to publicAuthority and preferredBidders. This makes OCDS for PPPs data unnecessarily incompatible with OCDS data. The original terms are inappropriate, but this needs to be fixed in an OCDS 2.0, not in a profile. For OCDS 1.2, the fix is to broaden the definitions of buyer and suppliers, while retaining the terms.

[2020-11-16 19:05] jpmckinney opened #237 "Remove initiationType.csv"
Related: https://github.com/open-contracting/standard/issues/821

[2020-11-16 19:25] jpmckinney commented on #217
@duncandewhurst As I understand, the PQ extension is based on only this, on page 56 http://pubdocs.worldbank.org/en/143671469558797229/FrameworkPPPDisclosure-071416.pdf:

[code]

As such, a lot of requirements seem to have been anticipated that perhaps aren't strictly necessarily. Mainly, what matters is to describe the first stage, whether it's PQ or not. For that, we have the `tender` block. The

[2020-11-16 19:28] jpmckinney commented on #237
cc @duncandewhurst

[2020-11-16 19:28] jpmckinney commented on #236
cc @duncandewhurst

[2020-11-17 02:32] duncandewhurst opened #238 "Add nature/natureDetails adapted from OC4IDS"
CoST Honduras collects structured data on the type of each PPP contract in SISOCS APP and they want to include this in their OCDS for PPPs data.

# Example

The possible values are as follows, although these can be set/updated by the system administrator:

ES | EN (machine translated)
-- | --
Contrato de Diseno | Design Contract
Contrato de Diseno y Construction | Design and Construction Contract

[2020-11-17 04:24] jpmckinney commented on #238
How does verification differ from supervision? There seems to be some overlap in terms of compliance and monitoring.

What are 'trust' and 'concession' contracts?

Adding codes seems like a fine strategy.

[2020-11-18 23:22] duncandewhurst commented on #238
# Verification contracts

CoST Honduras said they don’t know what 'Contrato de Verificación' means but they believe it is the same as Supervision.

I checked the SISOCS APP portal and no projects are tagged with this type.

The [CoST Honduras First Assurance Report](https://infrastructuretransparency.org/wp-content/uploads/2020/09/CoST-Honduras-First-Assurance-Report.pdf) makes reference to a 'Con

[2020-11-19 01:19] jpmckinney commented on #238
I agree that trust and concession seem to have less to do with activities (design, build, operate, etc.), and more to do with the types of entities (trust) and the rights accorded by the government to the company (concession).

I'm not sure they really belong in `natureDetails`, but since it's free-text, it's not expected to be high quality. Users can expect to have to do some cleaning if they wer

[2020-11-24 01:21] duncandewhurst commented on #235
CoST Honduras confirmed the information is known at the planning stage.

[2020-11-24 02:32] duncandewhurst commented on #238
CoST Honduras explained that, in Honduras:

I'm a little confused about how this definition fits with the 'Concession Contract / DFBT (Design, Financing, Construction and Transfer)', i.e. concessions which don't include operation of the asset, as an option in SISOCS, but that isn't a blocker to using `natureDetails`.

# Proposal

1. Add a `nature` field at release level, adapted from the `nature`

[2020-11-24 22:57] jpmckinney commented on #238
Looks good. I'd like input from @EvelynDinora or @nadinefernz on the code descriptions, and/or references to existing definitions.

[2020-11-26 01:14] duncandewhurst commented on #236
Agreed, sounds good.

[2020-11-26 01:21] duncandewhurst commented on #237
I'm happy with this, per https://github.com/open-contracting/standard/issues/821#issuecomment-734019550

[2020-11-26 02:16] duncandewhurst commented on #217
I'm in favour of aligning with OCDS. Are we ready to do that before https://github.com/open-contracting/standard/issues/906 is resolved though?

It's worth noting that the framework recommends disclosing some information at the second stage, e.g. Box 1 on page 38:

_  | Disclosed elements
-- | --
TENDER DOCUMENTS | Expressions of interest, RFQ, RFP (including evaluation criteria, preferred bidder

[2020-11-26 03:10] jpmckinney commented on #217
"names of shortlisted bidders at RFQ" seems to be the only item covered by OCDS for PPPs 1.0.0-beta2 that isn't covered by OCDS. This could be resolved by adding a "qualified" code to the `bidStatus.csv` codelist.

That said, I think it's also important to consider two things:

1. Does/Can anyone actually publish this as structured data? If not, it's not a major issue for there to be an open issue

[2020-11-26 18:02] jpmckinney commented on #236
@duncandewhurst Since OCDS for PPPs is relevant to a few active implementers, and since you might be making changes to close #238, could you take on this issue, #237 and ideally #217 ?

[2020-11-26 23:27] duncandewhurst commented on #217
I don't expect we'd find many examples of anyone publishing this as structured data, because there is little structured data published about PPPs anyway.

In terms of whether anyone can publish it, OCDS for PPPs and World Bank Framework are geared towards developing new systems for collecting and publishing data on PPPs (compared to OCDS which is mostly about publishing data from existing systems)

[2020-11-30 02:34] duncandewhurst commented on #236
Sure, should I prioritise those above 1.2 issues?

[2020-11-30 23:15] jpmckinney commented on #236
Yes, looks like Matt, Kadie and Charlie have taken on enough 1.2 issues for now.

[2020-12-01 23:46] duncandewhurst opened #239 "Update history and governance page"
The intro to the history and governance page is out of sync with the [Partners](https://standard.open-contracting.org/profiles/ppp/latest/en/#partners) section of the homepage.

If I remember correctly, we were asked to update the latter by the World Bank, so we should update the history and governance to match.

[2020-12-09 17:58] EvelynDinora commented on #238
@jpmckinney and @duncandewhurst, apologies I have missed your discussion. Please find here my inputs:

The https://pppknowledgelab.org/guide/sections/6-ppp-contract-types-and-terminology is the one that I know best and it is a good reference.

In Honduras, the developer included in the SISOCS PPP all the options available in the SISOCS including contrato de verificación. This type of contract is v

[2020-12-09 18:29] duncandewhurst commented on #238
Evelyn clarified that verification contracts are not relevant to PPP projects, the code was added to SISOCS APP in error.

[2020-12-10 01:12] duncandewhurst commented on #237
@jpmckinney SIF SOURCE's data includes a boolean `isPPP/Concession` field. In the absence of setting `initiationType` to 'ppp', how would you recommend mapping this field?

[2020-12-10 21:28] duncandewhurst commented on #235
Looking at Honduras' draft data, I think we need to add an `address` property to `beneficiaries` to structure the department and municipality of the beneficiaries. For example:

[code]

Alternatively, we could stick with using just `location` and either:

1. Concatenate department and municipality into `location/description`, e.g.

[code]
2. Map department and municipality to a gazetteer, e.g.

[c

[2020-12-11 05:00] jpmckinney commented on #237
What are the semantics of that field and to what object would it relate?

[2020-12-11 05:05] jpmckinney commented on #235
Sounds good to me. The location extension similarly has delivery address and location as sibling fields on the item object.

[2020-12-14 00:47] duncandewhurst commented on #238
@EvelynDinora thanks for your input. Should we add 'verification' as a code for OC4IDS then?

[2020-12-14 00:57] duncandewhurst commented on #237
The field is in the projects table in the SOURCE database, it hasn't been mapped to OCDS yet.

I only know the field name and type, but I'm assuming the semantics are:

* If the field is set to `true`, then the project/contracting process is a PPP or a concession.
* If the field is set to `false`, then the project/contracting process is not a PPP or a concession.

Note that there is a 1:1 relation

[2020-12-14 01:18] duncandewhurst commented on #236
@jpmckinney a couple of questions on your preferred approach:

* Should we remove `publicAuthority` and `preferredBidders` completely, or should we deprecate them?

* Should we also remove/restore the associated codes in `partyRole.csv`?

[2020-12-14 02:53] duncandewhurst commented on #217
@jpmckinney before I draft changes to the documentation, please let me know if the below is what you have in mind.

I listed the relevant elements of the framework in a [spreadsheet](https://docs.google.com/spreadsheets/d/1h2weGTy-fn0CEkcWUGLbvOrAkZAEiGmSVON8iaz6rMc/edit#gid=0) and made a note of the changes required.

Once done, the [Procurement Information](https://standard.open-contracting.org/

[2020-12-14 18:09] jpmckinney commented on #238
I'm having trouble reconciling these comments. If verification contracts are relevant to PPP projects, then we should add a code, adapting the explanation Evelyn provided. if they are not relevant to PPP projects – and are just accidentally included in the SISOCS app – then a code shouldn't be added.

[2020-12-14 18:27] jpmckinney commented on #237
At present, there is no field for this "type" information. We should open an issue on the standard to discuss how to disclose this information.

For example, the EU's standard procurement forms include separate sets of forms for utilities, design contests, concessions, transport, and "social and other specific services", but this type isn't expressed in data fields (and thus is not expressed in th

[2020-12-14 18:30] jpmckinney commented on #236
Since the profile isn't 1.0 but is beta, I think better to remove.

Yes, good catch.

[2020-12-14 18:51] jpmckinney commented on #217
Looks good. I might have suggestions on wording which we might do in Google Docs, for example:

There is no competitive stage in the case of a direct award, so this would be worded differently. The `tender` section is also, semantically, used to describe the procedure as a whole (fields like `procurementMethod`).

[2020-12-21 00:58] duncandewhurst commented on #238
This is the case, so the proposal in https://github.com/open-contracting-extensions/public-private-partnerships/issues/238#issuecomment-732547466 stands.

My question in https://github.com/open-contracting-extensions/public-private-partnerships/issues/238#issuecomment-744102857 is about whether we should add the code to OC4IDS (since verification contracts are relevant to non-PPP projects).

[2020-12-21 02:24] duncandewhurst commented on #237
SIF clarified that the semantics are as expected:

[2021-01-11 04:30] duncandewhurst commented on #217
I've drafted changes to documentation in https://github.com/open-contracting-extensions/public-private-partnerships/pull/245 in order to preserve formatting, but I'm happy for you to move some content to a Google Doc for further editing. This sentence came from https://standard.open-contracting.org/latest/en/guidance/map/pre-qualification/#the-ocds-model so we should update that once we've agreed

[2021-01-12 00:14] #236 closed, assigned to nobody

[2021-01-12 01:03] #237 closed, assigned to nobody

[2021-01-12 01:06] jpmckinney commented on #239
Alternately, we can remove the duplication, and rename the page to Governance.

[2021-01-12 01:20] jpmckinney commented on #217
I hadn't thought about it. I would suggest removing them, and then having a conversation in https://github.com/open-contracting/standard/issues/792 about whether/how to add them back in OCDS 1.2.

Yes. Bids don't have a way to indicate to what they are responding, but it's possible to disambiguate between first and second stage based on dates (e.g. `bids/details/date` before `tender/tenderPeriod/e

[2021-01-13 21:27] duncandewhurst commented on #217
Please could you check that this draft guidance for the list of pre-qualified suppliers is what you had in mind and provide a description for the new 'qualified' `bidStatus` code? Would it simply repeat the description of the 'valid' code but omit the mention of evaluation?

[2021-01-13 21:42] jpmckinney commented on #217
I forgot about the 'valid' code - we should just use that.

Where does "Pre-qualification or shortlist" come from? Pre-qualification is an activity, a shortlist is a list of qualified tenderers – so they aren't really alternatives in an "or" pair.

Since we use `/` notation elsewhere in the profile, we should omit the initial periods, to avoid mixing notations.

[2021-01-13 21:47] duncandewhurst commented on #217
That's the terminology from the World Bank's framework. We've interpreted it as the latter, hence the way the element is named. If I remember correctly we included the original terminology to make it easier for implementers to reference the framework.

[2021-01-27 04:28] jpmckinney opened #246 "Update changelog"
I think changelog entries are missing for #243 and #244

https://standard.open-contracting.org/staging/profiles/ppp/1.0-dev/en/reference/changelog/

[2021-02-03 04:49] duncandewhurst opened #247 "Framework reference: Add disclosure timing tables from section II.2 onwards"
Whilst working on #217 I noticed that these tables are missing for the latter part of the framework reference.

[2021-02-03 06:10] jpmckinney commented on #247
Hmm, I did `git checkout 1__0__0__beta` and searched for `PP  P` (two spaces) and there were 34 occurrences, just like there are now on 1.0-dev. If any are missing they must be from before 2018-08-16.

[2021-02-03 19:36] duncandewhurst commented on #247
Yes, I think they were missing from the initial development.

[2021-02-03 19:57] jpmckinney commented on #247
Ah, thanks for clarifying, I had understood "missing" as "gone missing" :)

[2021-02-03 21:54] duncandewhurst commented on #233
Once https://github.com/open-contracting-extensions/public-private-partnerships/pull/245 is merged, `bids/details` will appear in the framework reference.

The example is based on Red Compartida's implementation of the World Bank framework, which is why it includes some extensions and fields that are not explicitly referenced in the framework reference. So that learning from that implementation is

[2021-02-03 23:03] jpmckinney commented on #233
Are the extensions directly related to content from The World Bank Framework for Disclosure in Public Private Partnership Projects, or were they just useful for disclosing PPPs in the case of Red Compartida?

If the latter, then they don't belong as part of the consolidated extension, and should be opt-in. If so, we can create a separate issue to add additional guidance pages for using extensions

[2021-02-04 16:22] jpmckinney opened #249 "Restore removed party roles"
The ppp extension removes 'procuringEntity', 'tenderer' and 'funder': https://github.com/open-contracting-extensions/ocds_ppp_extension/blob/master/codelists/-partyRole.csv

It looks like it adds 'bidder' to replace 'tenderer', and more specific roles to replace 'funder': https://github.com/open-contracting-extensions/ocds_ppp_extension/blob/master/codelists/%2BpartyRole.csv

I don't know why 'pro

[2021-02-05 00:17] #246 closed, assigned to duncandewhurst

[2021-02-15 01:29] duncandewhurst commented on #249
Once https://github.com/open-contracting-extensions/ocds_ppp_extension/pull/13 is merged I'll run `build_profile.py` to pull in the changes.

[2021-02-15 02:19] duncandewhurst commented on #233
**bids**

See above, this should be included in the consolidated extension.

**documentation_details**

Although the fields in this extension are not explicitly referenced in the Markdown content on the framework reference page, prior to https://github.com/open-contracting-extensions/public-private-partnerships/commit/daf991e0479b95dac7a3d94baa80954e9892419c the fields in this extension were displ

[2021-02-17 05:41] jpmckinney commented on #233
Sounds good to keep bids and documentation_details, and to remove the rest.

I think all "Document" links point to https://standard.open-contracting.org/profiles/ppp/latest/en/reference/documents/, which has a table with all extended fields.

[2021-02-24 00:15] jpmckinney opened #253 "Add codes to documentType.csv, instead of replacing it"
https://github.com/open-contracting-extensions/ocds_ppp_extension/blob/master/codelists/documentType.csv

This contains codes from OCDS, other extensions, etc. It is a maintenance challenge, since any improvements, corrections or deprecations of those codes in OCDS and extensions will not be reflected here.

For example, in OCDS the description of 'contractSchedule' had drifted toward 'contractAnn

[2021-02-24 00:16] jpmckinney commented on #253
FYI @ColinMaudry

[2021-03-19 04:49] #217 closed, assigned to nobody

[2021-03-19 04:50] jpmckinney opened #254 "Update spreadsheet template and worked example URLs"
Last checklist item from https://github.com/open-contracting-extensions/public-private-partnerships/pull/245

[2021-04-02 05:10] jpmckinney opened #258 "Commit of ppp-extension branch on standard repo"
I can't remember why I had been keeping this branch on my local copy of the standard repo, but the ppp-extension branch can still be access by commit hash at https://github.com/open-contracting/standard/tree/aa4c218d7da7e3b31d9a23896add5ac33cbd5196

[2021-04-02 05:10] #258 closed, assigned to nobody

[2021-04-19 03:21] duncandewhurst commented on #253
Once we've merged https://github.com/open-contracting-extensions/ocds_ppp_extension/pull/15 then we need to run `build_profile.py` to close this issue.

[2021-04-19 16:51] #253 closed, assigned to duncandewhurst

[2021-04-19 16:56] #239 closed, assigned to nobody

[2021-04-19 16:58] jpmckinney commented on #253
I ran `make clean_dist` first, to clear out old files (`documentType.csv` and `-partyRole.csv`). #262

[2021-04-20 02:49] #254 closed, assigned to duncandewhurst

[2021-04-22 15:45] #233 closed, assigned to duncandewhurst

[2021-04-22 15:45] #249 closed, assigned to duncandewhurst

[2021-09-13 13:06] yolile commented on #235
Note that a similar extension was drafted here for OCDS https://github.com/open-contracting/standard/issues/1388#issuecomment-909690167

[2022-02-02 20:47] duncandewhurst opened #271 "Update screenshot of the spreadsheet template"
The screenshot on https://standard.open-contracting.org/profiles/ppp/latest/en/spreadsheet/ shows the old version, which includes the pre-qualification extension.

[2022-02-02 20:52] duncandewhurst opened #272 "Remove quote in the first stage section of the framework reference"
The quote under the [first stage heading](https://standard.open-contracting.org/profiles/ppp/latest/en/framework/#ii-1-first-stage) reads:

Which seems contradictory of the description on the following line:

[2022-02-02 22:21] jpmckinney commented on #272
Is it contradictory? The quote assumes that there is a two-stage process. The description allows for a single-stage process. I think we maybe need to re-word to address the ambiguity.

[2022-02-03 00:50] duncandewhurst commented on #272
Hmm - I read 'in advance of issuing the request for proposals' as excluding requesting proposals in the first stage.

In any case, the quote is the definition of 'pre-qualification' from https://ppp-certification.com/ppp-certification-guide/glossary so I don't think it really makes sense to feature it as the definition of 'first stage'.

I think we should remove the quote and reword the descriptio

[2022-02-03 19:39] jpmckinney commented on #272
Sounds good!